.slider {
    position: relative;
    background-image: url('/img/home/shodatX.webp');
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.shodatX {
    background-color: #68326F;
    height: 530px;
    width: 613px;
    padding: 40px;
    position: relative;
}

.carouselCaption h2 {
    color: white;
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 30px;
}

.carouselCaption p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 36px
}

.sliderIndustries {
    height: 650px;
    position: relative;
}

.sliderIndustries .indContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sliderIndustries .indContent .indImage {
    height: 650px;
    width: 50%;
}

.sliderIndustries .indText {
    height: 650px;
    width: 50%;
    padding: 30px 40px;
}

.sliderIndustries .indContent .indImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.sliderIndustries .indText h2 {
    color: black;
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 15px;
}

.sliderIndustries .indText .line {
    height: 1px;
    width: 240px;
    background-color: rgba(0, 0, 0, 1);
    margin-top: 10px;
    margin-bottom: 10px;
}

.sliderIndustries .indText h4 {
    color: #68326F;
    font-size: 33px;
    font-weight: bold;
}

.sliderIndustries .indText p {
    color: black;
    font-size: 16px;
    line-height: 30px;
    padding-right: 5%;
    margin-bottom: 11px;
}

.btnReadMore {
    margin-top: 15px;
}

@media screen and (max-width: 1199px) {
    .sliderIndustries .indText {
        padding-right: 0;
    }
    .sliderIndustries {
        height: 800px;
    }
    .sliderIndustries .indContent .indImage {
        height: 800px;
    }
    .sliderIndustries .indContent .indText {
        height: 800px;
    }
    .shodatX {
        height: 540px;
    }
}

@media screen and (max-width: 991px) {
    .shodatX {
        background-color: #68326F;
        height: auto;
        width: 100%;
        padding: 15px;
        position: relative;
        min-height: 480px;
    }
    .slider {
        height: auto;
    }
    .sliderIndustries .indContent {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .sliderIndustries .indContent .indImage {
        height: auto;
        width: 100%;
    }
    .sliderIndustries .indText {
        height: auto;
        width: 100%;
        padding: 15px;
    }
    .sliderIndustries {
        height: auto;
    }

    .carouselCaption p {
        font-size: 18px;
    }
    .sliderIndustries .indText p {
        padding-right: 0;
    }
    .sliderIndustries {
        height: auto;
    }
    .sliderIndustries .indContent .indImage {
        height: auto;
    }
    .sliderIndustries .indContent .indText {
        height: auto;
        min-height: 650px;
    }
}

@media screen and (max-width: 768px) {
    .shodatX {
        background-color: #68326F;
        height: auto;
        width: 100%;
        padding: 15px;
        position: relative;
        min-height: 450px;
        padding-bottom: 100px;
    }
    .slider {
        height: auto;
    }
    .sliderIndustries .indContent {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .sliderIndustries .indContent .indImage {
        height: auto;
        width: 100%;
    }
    .sliderIndustries .indText {
        height: auto;
        width: 100%;
        padding: 15px;
    }

    .sliderIndustries {
        height: auto;
    }
    .sliderIndustries .indContent .indImage {
        height: auto;
    }
    .sliderIndustries .indContent .indText {
        height: auto;
        min-height: 588px;
    }
}