.footer {
    background-color: #000000;
    min-height: 450px;
    padding: 40px 0 00px 0;
    position: relative;
}
.footer .footertitle {
    font-weight: bold;
    font-size: 23px;
    padding-right: 15px;
    color: white;
    line-height: 35px;
    text-align: center;
}
.newsletter {
    display: none;
    position: relative;
}
.newsletter h4 {
    font-weight: 500;
    font-size:19px;
    color: white;
    margin-bottom: 10px;
}
.newsletter .newsletterInput {
    position: relative;
}
.newsletter .newsletterInput input {
    width: 100%;
    height: 46px;
    border: 1px solid transparent;
    padding: 0 45px 0 10px;
}
.newsletter .newsletterInput button {
    overflow: hidden;
    border: none;
    cursor: pointer;
    height: 38px;
    width: 38px;
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: black;
}
.newsletter .newsletterInput button img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.fotterContent {
    display: flex;
    margin-top: 30px;
}
.fotterContent .footerBlock{
    width: 20%;
}
.footerLogo {
    margin-bottom: 0;
    margin-right: 30px;
}
.footerMidMargin {
    margin-top: 30px;
}
.footerList li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 15px 0;
}
.footerList li a {
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.footerList li a img{
    margin-right: 8px;
}
.blockTitle {
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}

.copyright {
    border-top: 1px solid #4c4c4c;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.copyright p{
    color: white;
    font-size: 12px;
}
.copyrightMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyrightMenu li {
    list-style-type: none;
    padding:  0 20px;
}
.copyrightMenu li a{
    color: white;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.footerContainer .footerLeft{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerContainer .footerRight{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 10px;
}

.footerMail {
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footerMail img {
    margin-right: 10px;
}

.footerContainer {
    margin-top: 5px;
}
.footerContainer .footerLogo {
    margin-bottom: 0;
}
.footerContainer .footerLogo {
    position: relative;
    top: 0;
}
.footerContainer .blockTitle {
    margin-bottom: 0;
}
.footerv2 {
    min-height: 250px;
}
.footerv2 .copyright {
    margin-top: 10px;
}

.followUs .followIcons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.followUs .followIcons a svg {
    position: relative;
    top: -2px;
}
.followUs .followIcons  a{
    margin-left: 15px;
}
.followUs {
    display: flex;
}


/* Responsive */

@media screen and (max-width:1199px) {
    .footerContainer .footerLeft{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .followUs {
        margin-top: 25px;
    }
}

@media screen and (max-width: 991px) {
    .newsletter {
        margin-top: 50px;
    }
    .footer .footertitle  br{
        display: inline;
    }
    .footerContainer .footerLeft{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .followUs {
        margin-top: 25px;
    }
    .footer {
        padding: 40px 15px 0 15px;
    }
    
}
@media screen and (max-width: 768px) {
    .newsletter {
        margin-top: 50px;
    }
    .footer .footertitle  br{
        display: inline;
    }
    .footerContainer .footerLeft{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .followUs {
        margin-top: 25px;
    }
    .footerContainer .footerLeft {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .footer {
        padding: 40px 0px 0px 0px;
    }
    .footerLogo{
        margin-right: 0px;
    }
}