.scheduling {
    position: relative;
    background-color: #F0F0F0;
}
.growingTeam {
    position: relative;
    padding: 15px;
    min-height: 136px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.whiteBox {
    background-color: white;
    min-height: 610px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
    margin-top: -30px;
}
.growingTeam .title {
    font-size: 33px;
    color: #68326F;
    font-weight: bold;
    width: 30%;
}
.growingTeam .line {
    height: 1px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 10px;
}
.growingTeam .clients {
    width: 70%;
}
.growingTeam .clients ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schedulingInfo {
    height: 574px;
    /* width: 574px; */
    background-color: #68326F;
    padding: 50px 70px;
}
.schedulingInfo h2 {
    font-size: 33px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}
.schedulingInfo p {
    color: white;
    font-weight: 400;
    margin-bottom: 35px;
    line-height: 33px;
}
.schedulingForm {
    height: 574px;
    background-color: #FFFFFF;
    padding: 50px 20px;
}
.schedulingForm h2 {
    font-size: 33px;
    color: #68326F;
    font-weight: bold;
    margin-bottom: 25px;
}

.formWrap {
    position: relative;
}
.formWrap .formRow{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.formWrap .formGroup {
    margin-bottom: 15px;
    width: 48%;
}
.formWrap  label{
    margin-bottom: 5px;
}
.formWrap .formGroup input[type="text"] {
    border: 1px solid #CCCCCC;
    border-radius: 0;
}
.formWrap textarea {
    border: 1px solid #CCCCCC;
    border-radius: 0;
    min-height: 100px;
}
.formWrap .formGroupFull {
    margin-bottom: 15px;
    width: 100%;
}

.btnSubmit {
    background-color: #68326F;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    min-width: 154px;
    box-shadow: none;
    border-radius: 0;
    margin-top: 10px;
}

.cta {
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.cta .ctaContent {
    margin-right: 40px;
}
.cta .ctaContent h3 {
    font-size: 33px;
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
}
.cta .ctaContent p {
    font-weight: 400;
    line-height: 24px;
    color: black;
    width: 60%;
}