@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}

.main {
    position: relative;
}

body {
    font-family: "Open Sans", sans-serif;
}

.banner .carousel-indicators [data-bs-target] {
    background-color: #757575;
}

.banner .carousel-indicators [data-bs-target].active {
    background-color: #05A7B1;
}

.banner .carousel-indicators {
    bottom: 85px;
}

.banner .carousel-item img {
    height: 770px;
}

.iconmouse {
    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
}

#featuresSlider .carousel-control-prev {
    background-color: rgba(104, 50, 111, 0.5);
    opacity: 1;
    height: 40px;
    width: 40px;
    font-size: 22px;
    position: absolute;
    right: 48px;
    bottom: -45px;
    top: auto;
    left: auto;
    display: flex;
    transition: background-color 0.5s ease-out;
}

#featuresSlider .carousel-control-prev:hover {
    background-color: rgba(104, 50, 111, 1);
}

#featuresSlider .carousel-control-next {
    background-color: rgba(104, 50, 111, 1);
    opacity: 1;
    height: 40px;
    width: 40px;
    font-size: 22px;
    position: absolute;
    right: 0px;
    bottom: -45px;
    top: auto;
    left: auto;
    display: flex;
    transition: background-color 0.5s ease-out;
}

#featuresSlider .carousel-control-next:hover {
    background-color: rgba(104, 50, 111, 1);

}

#featuresSlider .carousel-control-prev-icon,
#featuresSlider .carousel-control-next-icon {
    height: 1.2rem;
    width: 1.2rem;
}

.btnBlack {
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    min-width: 154px;
    box-shadow: none;
    border-radius: 0;
    transition: all ease-in 0.25s;
}

.btnBlack:hover {
    background-color: #06bcc6;
    transition: all ease-out 0.25s;
}

.btnBlack img {
    margin-left: 5px;
}

#shodatX .carousel-control-prev-icon {
    background-image: url("/img/arrow-left.png") !important;
    height: 20px;
    width: 24px;
}

#shodatX .carousel-control-next-icon {
    background-image: url("/img/arrow-right.png") !important;
    height: 20px;
    width: 24px;
}

#shodatX .carousel-control-next {
    position: absolute;
    top: auto;
    bottom: -105px;
    right: 160px;
    opacity: 1;
    z-index: 9;
}

#shodatX .carousel-control-prev {
    position: absolute;
    top: auto;
    bottom: -105px;
    left: 160px;
    opacity: 1;
    z-index: 9;
}

#shodatX .carousel-indicators {
    position: absolute;
    bottom: -106px;
    top: auto;
    margin: 0;
}

#sliderIndustries .carousel-control-next {
    position: absolute;
    top: auto;
    bottom: 20px;
    right: 20%;
    opacity: 1;
    z-index: 99;
    background: rgba(104, 50, 111, 0.7);
    width: 80px;
    height: 80px;
    padding: 20px 20px;
}

#sliderIndustries .carousel-control-prev {
    position: absolute;
    top: auto;
    bottom: 20px;
    left: 25%;
    opacity: 1;
    z-index: 99;
    background: rgba(104, 50, 111, 0.7);
    padding: 20px 20px;
    width: 80px;
    height: 80px;
}

#sliderIndustries .carousel-control-next-icon {
    background-image: url("/img/angle_left.svg") !important;
    height: 58px;
    width: 58px;
    transform: rotate(180deg);
}

#sliderIndustries .carousel-control-prev-icon {
    background-image: url("/img/angle_left.svg") !important;
    height: 58px;
    width: 58px;
}

.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

.displayNone {
    display: none;
}

#clientsMobile .carousel-control-next {
    position: absolute;
    top: auto;
    bottom: 20px;
    right: -15px;
    opacity: 1;
    z-index: 99;
    background: transparent;
    padding: 0;
    width: 50px;
    height: 50px;
}

#clientsMobile .carousel-control-prev {
    position: absolute;
    top: auto;
    bottom: 20px;
    left: -10px;
    opacity: 1;
    z-index: 99;
    background: transparent;
    padding: 0;
    width: 50px;
    height: 50px;
}
#clientsMobile .carousel-control-next-icon {
    background-image: url("/img/angle_left_black.svg") !important;
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
    opacity: 0.5;
}

#clientsMobile .carousel-control-prev-icon {
    background-image: url("/img/angle_left_black.svg") !important;
    height: 50px;
    width: 50px;
    opacity: 0.5;
}











/* Animations */
@-webkit-keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes scaleEffect {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(.75);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(.75);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(.75);
    }

    100% {
        transform: scale(.75);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.90);
        box-shadow: 0 0 0 0 rgba(212, 166, 40, 0.4);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(212, 166, 40, 0);
    }

    100% {
        transform: scale(0.90);
        box-shadow: 0 0 0 0 rgba(212, 166, 40, 0);
    }
}

.text-color-red {
    color: red;
}

.font-sm {
    font-size: 14px;
}

.border-red {
    /* border-color: red !important; */
    /* background: rgba(255, 99, 71, 0.2) !important; */
}

.border-red-v2 {
    /* border-color: red !important; */
    /* background: rgba(255, 99, 71, 0.6) !important; */
}

.border-gray {
    border-color: #CCCCCC;
}


@media screen and (max-width: 768px) {
    #shodatX .carousel-control-prev {
        left: 15px;
    }

    #shodatX .carousel-control-next {
        right: 15px;
    }

    .hstack {
        display: block;
    }

    #sliderIndustries .carousel-control-next {
        position: absolute;
        top: auto;
        bottom: 20px;
        right: 20px;
        opacity: 1;
        z-index: 99;
        background: rgba(104, 50, 111, 0.7);
        width: 40px;
        height: 40px;
        padding: 5px;
    }

    #sliderIndustries .carousel-control-prev {
        position: absolute;
        top: auto;
        bottom: 20px;
        right: 75px;
        left: auto;
        opacity: 1;
        z-index: 99;
        background: rgba(104, 50, 111, 0.7);
        padding: 5px;
        width: 40px;
        height: 40px;
    }

    #sliderIndustries .carousel-control-next-icon {
        background-image: url("/img/angle_left.svg") !important;
        height: 30px;
        width: 30px;
        transform: rotate(180deg);
    }

    #sliderIndustries .carousel-control-prev-icon {
        background-image: url("/img/angle_left.svg") !important;
        height: 30px;
        width: 30px;

    }
}

@media screen and (max-width: 991px) {
    .hstack {
        display: flex;
        flex-wrap: wrap;
    }

    .prefferedPartnerSection .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    
}

@media screen and (max-width: 769px) {
    .prefferedPartnerSection .container-fluid {
        padding-left: initial;
        padding-right: initial;
    }
    #scheduling .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}