@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}

.main {
    position: relative;
}

body {
    font-family: "Open Sans", sans-serif;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }

    0% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* .relative {
    animation-duration: 0.2s;
    animation-name: fadeInUp;
    animation-timing-function: ease-out;
} */

.fixed {
    top: 0;
    width: 100%;
    z-index: 999;
    animation-duration: 0.2s;
    animation-name: fadeInDown;
    animation-timing-function: ease-out;
}

.banner .carousel-indicators [data-bs-target] {
    background-color: #757575;
}

.banner .carousel-indicators [data-bs-target].active {
    background-color: #05A7B1;
}

.banner .carousel-indicators {
    bottom: 85px;
}

.banner .carousel-item img {
    height: 770px;
}

.iconmouse {
    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
}

#featuresSlider .carousel-control-prev {
    background-color: rgba(104, 50, 111, 0.5);
    opacity: 1;
    height: 40px;
    width: 40px;
    font-size: 22px;
    position: absolute;
    right: 48px;
    bottom: -45px;
    top: auto;
    left: auto;
    display: flex;
    transition: background-color 0.5s ease-out;
}

#featuresSlider .carousel-control-prev:hover {
    background-color: rgba(104, 50, 111, 1);
}

#featuresSlider .carousel-control-next {
    background-color: rgba(104, 50, 111, 1);
    opacity: 1;
    height: 40px;
    width: 40px;
    font-size: 22px;
    position: absolute;
    right: 0px;
    bottom: -45px;
    top: auto;
    left: auto;
    display: flex;
    transition: background-color 0.5s ease-out;
}

#featuresSlider .carousel-control-next:hover {
    background-color: rgba(104, 50, 111, 1);

}

#featuresSlider .carousel-control-prev-icon,
#featuresSlider .carousel-control-next-icon {
    height: 1.2rem;
    width: 1.2rem;
}

.btnBlack {
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    min-width: 154px;
    box-shadow: none;
    border-radius: 0;
    transition: all ease-in 0.25s;
}

.btnBlack:hover {
    background-color: #06bcc6;
    transition: all ease-out 0.25s;
}

.btnBlack img {
    margin-left: 5px;
}

#shodatX .carousel-control-prev-icon {
    background-image: url("/img/arrow-left.png") !important;
    height: 20px;
    width: 24px;
}

#shodatX .carousel-control-next-icon {
    background-image: url("/img/arrow-right.png") !important;
    height: 20px;
    width: 24px;
}

#shodatX .carousel-control-next {
    position: absolute;
    top: auto;
    bottom: -64px;
    right: 160px;
    opacity: 1;
    z-index: 9;
}

#shodatX .carousel-control-prev {
    position: absolute;
    top: auto;
    bottom: -64px;
    left: 160px;
    opacity: 1;
    z-index: 9;
}

#shodatX .carousel-indicators {
    position: absolute;
    bottom: -64px;
    top: auto;
    margin: 0;
}

#sliderIndustries .carousel-control-next {
    position: absolute;
    top: auto;
    bottom: 20px;
    right: 20%;
    opacity: 1;
    z-index: 99;
    background: rgba(104, 50, 111, 0.7);
    width: 80px;
    height: 80px;
    padding: 20px 20px;
}

#sliderIndustries .carousel-control-prev {
    position: absolute;
    top: auto;
    bottom: 20px;
    left: 25%;
    opacity: 1;
    z-index: 99;
    background: rgba(104, 50, 111, 0.7);
    padding: 20px 20px;
    width: 80px;
    height: 80px;
}

#sliderIndustries .carousel-control-next-icon {
    background-image: url("/img/angle_left.svg") !important;
    height: 58px;
    width: 58px;
    transform: rotate(180deg);
}

#sliderIndustries .carousel-control-prev-icon {
    background-image: url("/img/angle_left.svg") !important;
    height: 58px;
    width: 58px;
}

.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
    width: 1470px;
}

.displayNone {
    display: none;
}

#clientsMobile .carousel-control-next {
    position: absolute;
    top: auto;
    bottom: 20px;
    right: -10px;
    opacity: 1;
    z-index: 99;
    background: transparent;
    padding: 0;
    width: auto;
    height: auto;
}

#clientsMobile .carousel-control-prev {
    position: absolute;
    top: auto;
    bottom: 20px;
    left: -10px;
    opacity: 1;
    z-index: 99;
    background: transparent;
    padding: 0;
    width: auto;
    height: auto;
}

#clientsMobile .carousel-control-next-icon {
    background-image: url("/img/angle_left_black.svg") !important;
    height: 36px;
    width: 36px;
    transform: rotate(180deg);
    opacity: 0.5;
}

#clientsMobile .carousel-control-prev-icon {
    background-image: url("/img/angle_left_black.svg") !important;
    height: 36px;
    width: 36px;
    opacity: 0.5;
}


#platformFeatSlider .carousel-control-prev {
    position: absolute;
    top: -65px;
    bottom: auto;
    left: auto;
    opacity: 1;
    z-index: 99;
    background: rgba(104, 50, 111, 0.4);
    width: 30px;
    height: 30px;
    right: 60px;
}

#platformFeatSlider .carousel-control-next {
    position: absolute;
    top: -65px;
    bottom: auto;
    right: 24px;
    left: auto;
    opacity: 1;
    z-index: 99;
    background: rgba(104, 50, 111, 1);
    width: 30px;
    height: 30px;
}

#platformFeatSlider .carousel-control-next-icon {
    background-image: url("/img/angle_left.svg") !important;
    height: 26px;
    width: 26px;
    transform: rotate(180deg);
}

#platformFeatSlider .carousel-control-prev-icon {
    background-image: url("/img/angle_left.svg") !important;
    height: 26px;
    width: 26px;
    transform: rotate(0deg);
}

#offerSlider .carousel-control-prev {
    position: absolute;
    height: auto;
    width: 67px;
    display: inline-block;
    bottom: -52px;
    top: auto;
    left: -27px;
}

#offerSlider .carousel-control-next {
    position: absolute;
    height: auto;
    width: 67px;
    display: inline-block;
    bottom: -52px;
    top: auto;
    left: 27px;
}

#caseStudySlider .carousel-control-prev {
    position: absolute;
    height: 64px;
    width: 32px;
    display: inline-block;
    bottom: auto;
    top: 44%;
    left: -5%;
}

#caseStudySlider .carousel-control-next {
    position: absolute;
    height: 64px;
    width: 32px;
    display: inline-block;
    bottom: auto;
    top: 44%;
    right: -5%;
}

#caseStudySlider .carousel-control-next-icon {
    background-image: url("/img/platform/angleLeft.svg") !important;
    height: 64px;
    width: 32px;
    transform: rotate(180deg);
}

#caseStudySlider .carousel-control-prev-icon {
    background-image: url("/img/platform/angleLeft.svg") !important;
    height: 64px;
    width: 32px;
    transform: rotate(0deg);
}

#offerSlider .carousel-control-prev {
    position: absolute;
    top: auto;
    bottom: -120px;
    left: 0px;
    opacity: 1;
    z-index: 99;
    background: rgba(104, 50, 111, 0.4);
    width: 66px;
    height: 66px;
    right: auto;
}

#offerSlider .carousel-control-next {
    position: absolute;
    top: auto;
    bottom: -120px;
    left: 86px;
    opacity: 1;
    z-index: 99;
    background: rgba(104, 50, 111, 0.4);
    width: 66px;
    height: 66px;
    right: auto;
}

#offerSlider .carousel-control-next-icon {
    background-image: url("/img/angle_left.svg") !important;
    height: 45px;
    width: 45px;
    transform: rotate(180deg);
    position: relative;
    top: 10px;
}

#offerSlider .carousel-control-prev-icon {
    background-image: url("/img/angle_left.svg") !important;
    height: 45px;
    width: 45px;
    transform: rotate(0deg);
    position: relative;
    top: 10px;
}

.closeButton.modal-header {
    position: absolute;
    right: 5px;
    top: 5px;
    outline: none;
    border: 0;
    background: transparent;
    padding: 0;
    height: 36px;
    width: 36px;
    border-radius: 0;
}

.closeButton.modal-header .btn-close {
    background-image: url(/img/platform/x-square.svg) !important;
    height: 32px;
    width: 32px;
    opacity: 1;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}



/* Animations */
@-webkit-keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes scaleEffect {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(.75);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(.75);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(.75);
    }

    100% {
        transform: scale(.75);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.90);
        box-shadow: 0 0 0 0 rgba(212, 166, 40, 0.4);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(212, 166, 40, 0);
    }

    100% {
        transform: scale(0.90);
        box-shadow: 0 0 0 0 rgba(212, 166, 40, 0);
    }
}

.text-color-red {
    color: red;
}

.font-sm {
    font-size: 14px;
}

.border-gray {
    border-color: #CCCCCC;
}


.caseStudyModal .modal-dialog {
    --bs-modal-width: 1332px;
    border-radius: 0;
}

.caseStudyModal .modal-content {
    border-radius: 0;
}

.platformIntroduction .mobileTabs {
    display: none;
}


@media screen and (min-width:1200px) {
    #shodatX .carousel {
        height: 100%;
    }

    #shodatX .carousel-control-prev {
        bottom: -15px;
    }

    #shodatX .carousel-control-next {
        bottom: -15px;
    }

    #shodatX .carousel-indicators {
        bottom: -15px;
    }
}

@media screen and (max-width: 1199px) {
    #shodatX .carousel {
        height: 100%;
    }

    #shodatX .carousel-control-prev {
        bottom: -25px;
    }

    #shodatX .carousel-control-next {
        bottom: -25px;
    }

    #shodatX .carousel-indicators {
        bottom: -25px;
    }
}

@media screen and (max-width: 991px) {
    .gap-4 {
        gap: 0;
    }
}

@media screen and (max-width: 768px) {
    #shodatX .carousel-control-prev {
        left: 15px;
    }

    #shodatX .carousel-control-next {
        right: 15px;
    }

    .hstack {
        display: block;
    }

    #sliderIndustries .carousel-control-next {
        position: absolute;
        top: auto;
        bottom: 20px;
        right: 20px;
        opacity: 1;
        z-index: 99;
        background: rgba(104, 50, 111, 0.7);
        width: 40px;
        height: 40px;
        padding: 5px;
    }

    #sliderIndustries .carousel-control-prev {
        position: absolute;
        top: auto;
        bottom: 20px;
        right: 75px;
        left: auto;
        opacity: 1;
        z-index: 99;
        background: rgba(104, 50, 111, 0.7);
        padding: 5px;
        width: 40px;
        height: 40px;
    }

    #sliderIndustries .carousel-control-next-icon {
        background-image: url("/img/angle_left.svg") !important;
        height: 30px;
        width: 30px;
        transform: rotate(180deg);
    }

    #sliderIndustries .carousel-control-prev-icon {
        background-image: url("/img/angle_left.svg") !important;
        height: 30px;
        width: 30px;
    }

    #shodatX .carousel {
        height: 100%;
        min-height: 350px;
    }

    #shodatX .carousel-control-prev {
        bottom: -60px;
    }

    #shodatX .carousel-control-next {
        bottom: -60px;
    }

    #shodatX .carousel-indicators {
        bottom: -60px;
    }

    .platformIntroduction .mobileTabs {
        display: block;
    }

    .platformIntroduction .desktopTabs {
        display: none;
    }

    #platformFeatSlider .hstack {
        display: flex;
        flex-wrap: wrap;
        justify-content: center !important;
        align-items: center !important;
    }

}

@media screen and (max-width: 991px) {
    .hstack {
        display: flex;
        flex-wrap: wrap;
    }

    .prefferedPartnerSection .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    #caseStudySlider .hstack {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }

    #shodatX .carousel {
        height: 100%;
        min-height: 350px;
    }

    #shodatX .carousel-control-prev {
        bottom: -60px;
    }

    #shodatX .carousel-control-next {
        bottom: -60px;
    }

    #shodatX .carousel-indicators {
        bottom: -60px;
    }

}

@media screen and (max-width: 769px) {
    .prefferedPartnerSection .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    #scheduling .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .gap-4 {
        gap: 10px !important;
    }

    #offerSlider .carousel-control-next {
        bottom: -140px;
        left: 52%;
    }

    #offerSlider .carousel-control-prev {
        bottom: -140px;
        left: 40%;
    }
}


@media screen and (max-width: 479px) {
    .gap-3 {
        gap: 0 !important;
    }

    #platformFeatSlider .hstack {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between !important;
        align-items: center !important;
    }

    #offerSlider .carousel-control-prev {
        bottom: -66px;
        left: 35%;
        height: 40px;
        width: 40px;
    }

    #offerSlider .carousel-control-next {
        bottom: -66px;
        right: 35%;
        height: 40px;
        width: 40px;
        left: auto;
    }

    #offerSlider .carousel-control-prev-icon {
        height: 30px;
        width: 30px;
        top: 5px;
    }

    #offerSlider .carousel-control-next-icon {
        height: 30px;
        width: 30px;
        top: 5px;
    }

    #platformFeatSlider .gap-4 {
        gap: 5px !important;
    }

    .appIntegration .px-0 {
        padding: 0;
    }
}

@media screen and (max-width: 576px) {
    #offerSlider .carousel-control-next {
        left: 57%;
    }

    #offerSlider .carousel-control-prev {
        left: 36%;
    }
}


/* ACCORDION */
.accordion-item {
    border-radius: 0 !important;
    margin-bottom: 24px;
    box-shadow: 0 5px 6px -1px rgba(0, 0, 0, 0.3);
}

.accordion-header .accordion-button {
    height: 114px;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: #FFFFFF;
}

.accordion-button:focus {
    outline: none;
    border: 0;
    box-shadow: none;
}

.accordion-button::after {
    background-image: url("/img/dataEngineering/angle_down.png") !important;
    background-size: 2rem;
    height: 2rem;
    width: 2rem;
}

.accordion-body {
    padding-top: 0;
    border: 0;
    border-color: transparent;
}

.btn-black {
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    min-width: 154px;
    padding: 0 10px;
    box-shadow: none;
    border-radius: 0;
    transition: all ease-out 0.25s;
}

.btn-black:hover {
    background-color: #06bcc6;
    transition: all ease-out 0.25s;
}

.btn-black img {
    margin-left: 5px;
}

.plr-10px {
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width:991px) {
    .plr-10px {
        padding-left: 15px;
        padding-right: 15px;
    }

    .whyChooseV2 .pr-0 {
        padding-right: 15px;
    }
}

.addSliderClass {
    clip: rect(0, 100vw, auto, 100vw);
    animation: slide 1.5s linear 1s forwards;
    transition: all ease-in-out 0.5s;
    animation: .5s slide-right;
    position: relative;
}

.rightArrowClass {
    clip: rect(0, 100vw, auto, 100vw);
    animation: slide 1.5s linear 1s forwards;
    transition: all ease-in-out 0.5s;
    animation: .5s slide-right;
    position: relative;
    animation: .5s slide-right;
}

.leftArrowClass {
    clip: rect(0, 100vw, auto, 100vw);
    animation: slide 1.5s linear 1s forwards;
    transition: all ease-in-out 0.5s;
    animation: .5s slide-left;
    position: relative;
}

@keyframes slide {
    100% {
        clip: rect(0, 100vw, auto, 0);
    }
}

@keyframes slide-right {
    from {
        left: -100%;
    }

    to {
        left: 0%;
    }
}

@keyframes slide-left {
    from {
        right: -100%;
    }

    to {
        right: -00%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.p_into_carousel .carousel-inner {
    padding: 15px;
}

.caseSliderWrap {
    position: relative;
}

.caseSliderWrap .carousel-item {
    padding-bottom: 0;
    padding-top: 0;
}

.caseSliderWrap .carousel-control-prev-icon {
    background-image: url("/img/casestudy/angle_left_purple.png") !important;
    height: 32px;
    width: 16px;
}

.caseSliderWrap .carousel-control-next-icon {
    background-image: url("/img/casestudy/angle_right_purple.png") !important;
    height: 32px;
    width: 16px;
}

.caseSliderWrap .carousel-control-prev {
    left: -20px;
}

.caseSliderWrap .carousel-control-next {
    right: -20px;
}

.caseSliderWrap .carousel-indicators {
    position: absolute;
    bottom: -64px;
    top: auto;
    margin: 0;
}

.caseSliderWrap .hstack {
    display: flex;
    justify-content: center;
}

.react-multiple-carousel__arrow {
    background-color: rgba(104, 50, 111, 0.5) !important;
}

.react-multiple-carousel__arrow--right::before {
    background-image: url(/img/platform/platform-page-imgs/right_white.svg) !important;
    content: "" !important;
    height: 30px;
    width: 16px;
    left: 15px;
    top: 8px;
    position: absolute !important;
    background-repeat: no-repeat;
    background-size: contain;
}

/* .react-multiple-carousel__arrow--right {
    right: calc(0% - 17px) !important;
} */
.react-multiple-carousel__arrow--left::before {
    background-image: url(/img/platform/platform-page-imgs/left_white.svg) !important;
    content: "" !important;
    height: 30px;
    width: 16px;
    left: 15px;
    top: 8px;
    position: absolute !important;
    background-repeat: no-repeat;
    background-size: contain;
}

/* .react-multiple-carousel__arrow--left {
    left: calc(0% - 9px) !important;
} */

/* .containerCarousel li {
    width: 188px;
} */
@media only screen and (max-width:1199px) {
    .caseSliderWrap .carousel-control-prev {
        left: -60px;
    }

    .caseSliderWrap .carousel-control-next {
        right: -60px;
    }
}

@media only screen and (max-width:991px) {
    .caseSliderWrap .carousel-control-prev {
        left: -20px;
    }

    .caseSliderWrap .carousel-control-next {
        right: -20px;
    }
}

@media only screen and (max-width:767px) {
    .caseSliderWrap .carousel-item {
        padding-left: 15px;
        padding-right: 15px;
    }

}

.slick-slide+div {
    padding: 0 7px;
}

button.slick-arrow.slick-prev {
    background-color: #F8F9F9;
    /* background-color: red; */
    height: 66px;
    width: 66px;
    left: 0px;
    top: calc(100% + 57px);
    position: absolute;
    z-index: 9;
}

button.slick-arrow.slick-next {
    background-color: #F8F9F9;
    /* background-color: red; */
    height: 66px;
    width: 66px;
    left: 90px;
    top: calc(100% + 57px);
    position: absolute;
    z-index: 9;
}

.slick-next:before {
    background-image: url("/img/dataEngineering/angle_right_black.svg") !important;
    content: "" !important;
    height: 30px;
    width: 16px;
    left: 25px;
    top: 19px;
    position: absolute !important;
    background-repeat: no-repeat;
    background-size: contain;
}

.slick-prev:before {
    background-image: url("/img/dataEngineering/angle_left_black.svg") !important;
    content: "" !important;
    height: 30px;
    width: 16px;
    left: 25px;
    top: 19px;
    position: absolute !important;
    background-repeat: no-repeat;
    background-size: contain;
}

.activatekro .slick-prev:before {
    background-image: url("/img/dataEngineering/angle_left_black.svg") !important;
}


/* Data Storage Slider */

.dataStorageSlickSlider button.slick-arrow.slick-prev {
    background-color: #E6F8F9;
    /* background-color: red; */
    height: 66px;
    width: 66px;
    left: 0px;
    top: calc(100% + 57px);
    position: absolute;
    z-index: 9;
}

.dataStorageSlickSlider button.slick-arrow.slick-next {
    background-color: #E6F8F9;
    /* background-color: red; */
    height: 66px;
    width: 66px;
    left: 90px;
    top: calc(100% + 57px);
    position: absolute;
    z-index: 9;
}

.dataStorageSlickSlider .slick-next:before {
    background-image: url("/img/dataEngineering/angle_right_green.svg") !important;
    content: "" !important;
    height: 30px;
    width: 16px;
    left: 25px;
    top: 19px;
    position: absolute !important;
    background-repeat: no-repeat;
    background-size: contain;
}

.dataStorageSlickSlider .slick-prev:before {
    background-image: url("/img/dataEngineering/angle_left_green.svg") !important;
    content: "" !important;
    height: 30px;
    width: 16px;
    left: 25px;
    top: 19px;
    position: absolute !important;
    background-repeat: no-repeat;
    background-size: contain;
}

.dataStorageSlickSlider.activatekro .slick-prev:before {
    background-image: url("/img/dataEngineering/angle_left_green.svg") !important;
}

@media screen and (max-width:479px) {
    .slick-slide+div {
        padding: 0;
    }
}

.headerModal .modal-dialog {
    --bs-modal-width: 1100px;
    border-radius: 0;
}

.headerModal .modal-content {
    border-radius: 0;
}

/* Appraoch Accordian */
.appraochAccordion .accordion-item {
    border-radius: 0 !important;
    margin-bottom: 16px;
    box-shadow: none;
    border: 1px solid #DEC6E0;
    background-color: transparent;
}

.appraochAccordion .accordion-header .accordion-button {
    height: 46px;
    box-shadow: none;
    background-color: transparent;
}

.appraochAccordion .accordion-button::after {
    background-image: url(/img/dataEngineering/svg/chevron-down.svg) !important;
    background-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
}



.useCaseSlickSlider button.slick-arrow.slick-prev {
    background-color: #F8F9F9;
    height: 66px;
    width: 66px;
    /* left: 46%; */
    left: calc(50% - 44px);
    right: auto;
    bottom: -60px;
    position: absolute;
    z-index: 9;
    transform: translate(-50%, -50%);
}


.useCaseSlickSlider button.slick-arrow.slick-next {
    background-color: #F8F9F9;
    height: 66px;
    width: 66px;
    /* right: 40.5%; */
    right: calc(50% - 113px);
    left: auto;
    bottom: -60px;
    position: absolute;
    z-index: 9;
    transform: translate(-50%, -50%);
}

.useCaseSlickSlider .slick-slide+div {
    padding: 0 13px;
}

.useCaseSlickSlider .slick-track .slick-slide[data-index='0'] {
    padding-right: 13px;
}


@media screen and (max-width:1400px) {
    .container-fluid {
        width: 100%;
    }
}

@media screen and (max-width:1199px) {
    .useCaseSlickSlider button.slick-arrow.slick-prev {
        left: calc(50% - 44px);
    }

    .useCaseSlickSlider button.slick-arrow.slick-next {
        right: calc(50% - 113px);
    }
}

@media screen and (max-width:991px) {
    .useCaseSlickSlider button.slick-arrow.slick-prev {
        left: calc(50% - 44px);
    }

    .useCaseSlickSlider button.slick-arrow.slick-next {
        right: calc(50% - 113px);
    }
}

@media screen and (max-width:769px) {
    .useCaseSlickSlider button.slick-arrow.slick-prev {
        left: calc(50% - 44px);
    }

    .useCaseSlickSlider button.slick-arrow.slick-next {
        right: calc(50% - 113px);
    }
}

@media screen and (max-width:489px) {
    .useCaseSlickSlider button.slick-arrow.slick-prev {
        left: calc(50% - 50px);
    }

    .useCaseSlickSlider button.slick-arrow.slick-next {
        right: calc(50% - 100px);
    }

    .useCaseSlickSlider .slick-track .slick-slide[data-index='0'] {
        padding-right: 0;
    }
}