.header {
    background-color: black;
    height: 76px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
    z-index: 999;
}
.header .logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
.header .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .menuList {
    display: flex;
    margin-right: 40px;
}
.header .menuList li {
    padding-left: 40px;
}
.header .menuList a {
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: normal;
    height: 76px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid transparent;
    transition: border-bottom 0.5s ease-out;
    cursor: pointer;
}
.header .menuList a:hover {
    border-bottom: 5px solid #05A7B1;
}
.header .menuList a.active {
    border-bottom: 5px solid #05A7B1;
}
.btnDemo {
    background-color: #68326F;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    min-width: 150px;
    box-shadow: none;
    border-radius: 0;
}
.mobileMenu {
    display: none;
    position: relative;
}
.mobileMenu .openButton {
    background-color: #68326F;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    min-width: 45px;
    box-shadow: none;
    border-radius: 0;
    position: relative;
    overflow: hidden;
}

.mobileMenu .menuWrap {
    background: black;
    width: 60%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    padding-left: 15px;
}

.mobileMenu .closeButton {
    background-color: #68326F;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    min-width: 45px;
    box-shadow: none;
    border-radius: 0;
    overflow: hidden;
    position: absolute;
    overflow: hidden;
    right: 30px;
    top: 15px;
}

.mobileMenu .menuList {
    display: block;
    margin-right: 0;
    margin-top: 60px;
}
.mobileMenu .menuList li {
    padding-left: 0;
}
.mobileMenu .menuList li a {
    height: auto;
    padding: 15px;
    display: block;
    font-size: 16px;
}
.mobileMenu .menuList li a.active {
    border-bottom: 0;
}
.mobileMenu .btnDemo {
    margin-left: 15px;
    margin-top: 10px;
}
.mobileMenu .menuList li a:hover {
    border-color: transparent;
}


@media screen and (max-width: 991px) {
    .header .menuList {
        margin-right: 30px;
    }
    .header .menuList li {
        padding-left: 15px;
    }
    .header .menuList li a {
        font-size: 14px;
    }
}

@media screen and (max-width: 769px) {
    .header .menu {
        display: none;
    }
    .header .mobileMenu {
        display: block;
    }
    .header .menuList li a {
        font-size: 16px;
    }
    .header .menuList {
        margin-right: 0px;
    }
    .mobileMenu .btnDemo {
        margin-left: 28px;
    }
    
}

@media screen and (max-width: 479px) {
    .header .logo img {
        width: 135px;
    }
    .btnDemo {
        min-width: 120px;
    }
}




.headerModal .modalContent,
.headerModal .modalContentInner {
    height: auto;
}

.headerModal .modalContent .modalLeft {
    height: auto;
    width: 36%;
}

.headerModal .modalContent .modalRight {
    width: 63%;
    padding: 20px;
}

.headerModal .result.desktop {
    display: none;
}

.headerModal .result.mobile {
    display: block;
    padding: 15px;
    margin-top: 0;
}

.headerModal .modalContent {
    flex-wrap: wrap;
}

.headerModal .modalContent .modalLeft,
.headerModal .modalContent .modalRight {
    min-height: auto;
}

.headerModal .modalContentInner {
    min-height: 450px;
    padding: 35px 40px;
    flex-wrap: wrap;
}

.headerModal .modalContentInner h3 {
    font-size: 33px;
    color: #68326F;
    font-weight: bold;
    margin-bottom: 24px;
}
.headerModal .modalContentInner .formGroup {
    margin-bottom: 24px;
}
.headerModal .modalContentInner .formGroup label {
    font-weight: bold;
    margin-bottom: 7px;
}
.headerModal .modalContentInner .formGroup label span {
    color: red;
    font-size: 14px;
}
.headerModal .modalContentInner .formGroup input{
    height: 45px;
    border-radius: 0;
    width: 100%;
    border: 1px solid #CCCCCC;
    padding: 7px 15px;
}

.headerModal .modalContentInner .formGroup textarea{
    min-height: 120px;
    border-radius: 0;
    width: 100%;
    border: 1px solid #CCCCCC;
    padding: 7px 15px;
}
.headerModal .modalContentInner .formGroup.formGroupLastNode {
    margin-bottom: 0;
}

.btnSubmit {
    background-color: #68326F;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    min-width: 200px;
    box-shadow: none;
    border-radius: 0;
    transition: all ease-in-out 0.3s;
}

.btnSubmit:hover {
    background-color: rgba(104,50,111, 0.7);
    transition: all ease-in-out 0.3s;
}