.header {
    background-color: black;
    height: 76px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
    z-index: 999;
}

.header .logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.header .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .menuList {
    display: flex;
    margin-right: 40px;
    position: relative;
}

.header .menuList li {
    padding-left: 40px;
    position: relative;
}

.header .menuList a {
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: normal;
    height: 76px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid transparent;
    transition: border-bottom 0.5s ease-out;
    cursor: pointer;
}

.header .menuList a:hover {
    border-bottom: 5px solid #05A7B1;
}

.header .menuList a.active {
    border-bottom: 5px solid #05A7B1;
}

.btnDemo {
    background-color: #68326F;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    min-width: 150px;
    box-shadow: none;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
}

.btnDemo:hover {
    background-color: #05a7b1;
    transition: all 0.3s ease-in-out;
}

.mobileMenu {
    display: none;
    position: relative;
}

.mobileMenu .openButton {
    background-color: #68326F;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    min-width: 45px;
    box-shadow: none;
    border-radius: 0;
    position: relative;
    overflow: hidden;
}

.mobileMenu .menuWrap {
    background: black;
    width: 60%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    padding-left: 15px;
}

.mobileMenu .closeButton {
    background-color: #68326F;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    min-width: 45px;
    box-shadow: none;
    border-radius: 0;
    overflow: hidden;
    position: absolute;
    overflow: hidden;
    right: 30px;
    top: 15px;
}

.mobileMenu .menuList {
    display: block;
    margin-right: 0;
    margin-top: 60px;
}

.mobileMenu .menuList li {
    padding-left: 0;
}

.mobileMenu .menuList li a {
    height: auto;
    padding: 15px;
    display: block;
    font-size: 16px;
}

.mobileMenu .menuList li a.active {
    border-bottom: 0;
}

.mobileMenu .btnDemo {
    margin-left: 15px;
    margin-top: 10px;
}

.mobileMenu .menuList li a:hover {
    border-color: transparent;
}

.headerModal .modalContent,
.headerModal .modalContentInner {
    height: auto;
}

.headerModal .modalContent .modalLeft {
    height: auto;
    width: 36%;
}

.headerModal .modalContent .modalRight {
    width: 63%;
    padding: 20px;
}

.headerModal .result.desktop {
    display: none;
}

.headerModal .result.mobile {
    display: block;
    padding: 15px;
    margin-top: 0;
}

.headerModal .modalContent {
    flex-wrap: wrap;
}

.headerModal .modalContent .modalLeft,
.headerModal .modalContent .modalRight {
    min-height: auto;
}

.headerModal .modalContentInner {
    min-height: 450px;
    padding: 35px 40px;
    flex-wrap: wrap;
}

.headerModal .modalContentInner h3 {
    font-size: 33px;
    color: #68326F;
    font-weight: bold;
    margin-bottom: 24px;
}

.headerModal .modalContentInner .formWrapper {
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.formGroupFull {
    width: 100% !important;
}

.headerModal .modalContentInner .formGroup {
    margin-bottom: 24px;
    width: 48%;
}

.headerModal .modalContentInner .formGroup label {
    font-weight: bold;
    margin-bottom: 7px;
}

.headerModal .modalContentInner .formGroup label span {
    color: red;
    font-size: 14px;
}

.headerModal .modalContentInner .formGroup input {
    height: 45px;
    border-radius: 0;
    width: 100%;
    border: 1px solid #CCCCCC;
    padding: 7px 15px;
}

.headerModal .modalContentInner .formGroup textarea {
    min-height: 120px;
    border-radius: 0;
    width: 100%;
    border: 1px solid #CCCCCC;
    padding: 7px 15px;
}

.headerModal .modalContentInner .formGroup.formGroupLastNode {
    margin-bottom: 0;
}

.btnSubmit {
    background-color: #68326F;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    min-width: 200px;
    box-shadow: none;
    border-radius: 0;
    transition: all ease-in-out 0.3s;
}

.btnSubmit:hover {
    background-color: rgba(104, 50, 111, 0.7);
    transition: all ease-in-out 0.3s;
}

.menu ul ul {
    position: absolute;
    background: black;
    width: 210px;
    top: 100%;
    left: 40px;
    display: none;
    transition: all ease-in-out 0.3s;
}

.menu ul li:hover>ul {
    display: block;
    transition: all ease-in-out 0.3s;
}

.menu .menuList .innerList li {
    padding: 0px;
    height: 46px;
}

.menu .menuList .innerList li a {
    border-bottom: 0;
    padding: 12px;
    height: 46px;
    display: block;
}

.menu .menuList .innerList li a:hover {
    border-bottom: 0;
    background-color: rgba(104, 50, 111, 1);
}

.menu .menuList .innerList li a.activeInnerLink {
    border-bottom: 0;
    background-color: rgba(104, 50, 111, 1);
}

.mobileInnerList {
    padding-left: 50px;
    position: relative;
}

.mobileInnerList::after {
    content: "";
    background: white;
    height: 100%;
    width: 1px;
    position: absolute;
    left: 50px;
    top: -10px;
}

.mobileInnerList li {
    position: relative;
    padding-left: 0 !important;
}

.mobileInnerList li a {
    padding: 0px 0px 0px 20px !important;
    height: 36px !important;
    border: 0 !important;
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
}

.mobileInnerList li::before {
    content: "";
    height: 1px;
    width: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 50%;
}

.menuListForMobile li a:hover {
    color: #05A7B1 !important;
}

.menuListForMobile li a:active {
    color: #05A7B1 !important;
}

.menuListForMobile li a.active {
    color: #05A7B1 !important;
}

.menuListForMobile .mobileInnerList li a:hover {
    color: #05A7B1 !important;
}

.menuListForMobile .mobileInnerList li a:active {
    color: #05A7B1 !important;
}

.menuListForMobile .mobileInnerList li a.activeInnerLink {
    color: #05A7B1 !important;
}


/* Responsive */
@media screen and (max-width: 991px) {
    .header .menuList {
        margin-right: 30px;
    }

    .header .menuList li {
        padding-left: 15px;
    }

    .header .menuList li a {
        font-size: 14px;
    }
}

@media screen and (max-width: 769px) {
    .header .menu {
        display: none;
    }

    .header .mobileMenu {
        display: block;
    }

    .header .menuList li a {
        font-size: 16px;
    }

    .header .menuList {
        margin-right: 0px;
    }

    .mobileMenu .btnDemo {
        margin-left: 28px;
    }

}

@media screen and (max-width: 479px) {
    .header .logo img {
        width: 135px;
    }

    .btnDemo {
        min-width: 120px;
    }
    .headerModal .modalContentInner .formGroup {
        width: 100% !important;
    }
}