.header {
    background-color: black;
    height: 76px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
}
.header .logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
.header .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .menuList {
    display: flex;
    margin-right: 40px;
}
.header .menuList li {
    padding-left: 40px;
}
.header .menuList a {
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: normal;
    height: 76px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid transparent;
    transition: border-bottom 0.5s ease-out;
    cursor: pointer;
}
.header .menuList a:hover {
    border-bottom: 5px solid #05A7B1;
}
.header .menuList a.active {
    border-bottom: 5px solid #05A7B1;
}
.btnDemo {
    background-color: #68326F;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    min-width: 150px;
    box-shadow: none;
    border-radius: 0;
}
.mobileMenu {
    display: none;
    position: relative;
}
.mobileMenu .openButton {
    background-color: #68326F;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    min-width: 45px;
    box-shadow: none;
    border-radius: 0;
    position: relative;
    overflow: hidden;
}

.mobileMenu .menuWrap {
    background: black;
    width: 60%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    padding-left: 15px;
}

.mobileMenu .closeButton {
    background-color: #68326F;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    min-width: 45px;
    box-shadow: none;
    border-radius: 0;
    overflow: hidden;
    position: absolute;
    overflow: hidden;
    right: 30px;
    top: 15px;
}

.mobileMenu .menuList {
    display: block;
    margin-right: 0;
    margin-top: 60px;
}
.mobileMenu .menuList li {
    padding-left: 0;
}
.mobileMenu .menuList li a {
    height: auto;
    padding: 15px;
    display: block;
    font-size: 16px;
}
.mobileMenu .menuList li a.active {
    border-bottom: 0;
}
.mobileMenu .btnDemo {
    margin-left: 15px;
    margin-top: 10px;
}
.mobileMenu .menuList li a:hover {
    border-color: transparent;
}


@media screen and (max-width: 991px) {
    .header .menuList {
        margin-right: 30px;
    }
    .header .menuList li {
        padding-left: 15px;
    }
    .header .menuList li a {
        font-size: 14px;
    }
}

@media screen and (max-width: 769px) {
    .header .menu {
        display: none;
    }
    .header .mobileMenu {
        display: block;
    }
    .header .menuList li a {
        font-size: 16px;
    }
    .header .menuList {
        margin-right: 0px;
    }
    
}

@media screen and (max-width: 479px) {
    .header .logo img {
        width: 135px;
    }
    .btnDemo {
        min-width: 120px;
    }
}