.features {
    background-color: #EBEBEB;
    padding: 15px 0;
}
.infoBox {
    background-color: #68326F;
    padding: 40px 15px 30px 15px;
    min-height: 390px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 31px;
}
.infoBox p {
    color: white;
    font-size: 16px;
    margin: 0;
    font-weight: 300;
}
.featuresBox {
    min-height: 390px;
    background-color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
}
.featuresInfo {
    border-right: 1px solid #E0E0E0;
    width: 33.3%;
    padding: 15px 30px;
    min-height: 295px;
}
.featuresBox .featuresInfo:nth-child(3) {
    border-right: 0;
}
.featuresBox .featuresInfo:last-child {
    border-right: 0;
}
.featuresInfo .logo {
    margin-bottom: 40px;
}
.featuresInfo .text strong {
    color: #68326F;
}

.btnLetsTalk {
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    min-width: 154px;
    box-shadow: none;
    border-radius: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.btnLetsTalk img {
    margin-left: 5px;
}

.serviceTitle {
    margin-top: 50px;  
    text-align: center;
}
.serviceTitle h2 {
    color: #68326F;
    font-weight: bold;
    font-size: 33px;
    text-align: center; 
}
.line {
    height: 1px;
    width: 200px;
    background-color: black;
    display: inline-block;
}
.sliderItem {
    height: 353px;
    background-color: white;
    border-radius: 0;
    padding: 20px;
    border: none;
    width: 25%;
}
.sliderItem h4 {
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 15px;
}
.sliderItem p {
    font-size: 16px;
    font-weight: 400;
}
.featuresSlider {
    padding-bottom: 35px;
    position: relative;
    margin-top: 20px;
}
.sliderWrapper {
    position: relative;
}