.features {
    background-color: #EBEBEB;
    padding: 15px 0;
}

.infoBox {
    background-color: #68326F;
    padding: 50px 30px;
    height: 390px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.infoBox p {
    color: white;
    font-size: 16px;
    margin: 0;
    font-weight: normal;
    line-height: 28px;
}

.featuresBox {
    height: 390px;
    background-color: white;
    padding: 50px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}

.featuresInfo {
    border-right: 1px solid #E0E0E0;
    width: 33.3%;
    padding: 15px 30px;
    min-height: 295px;
}

.featuresBox .featuresInfo:nth-child(3) {
    border-right: 0;
}

.featuresBox .featuresInfo:last-child {
    border-right: 0;
}

.featuresInfo .logo {
    margin-bottom: 40px;
}

.featuresInfo .text strong {
    color: #68326F;
}

.btnLetsTalk {
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    min-width: 154px;
    box-shadow: none;
    border-radius: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all ease-out 0.25s;
}

.btnLetsTalk:hover {
    background-color: #06bcc6;
    transition: all ease-out 0.25s;
}

.btnLetsTalk img {
    margin-left: 5px;
}

.serviceTitle {
    margin-top: 20px;
    text-align: center;
}

.serviceTitle h2 {
    color: #68326F;
    font-weight: bold;
    font-size: 33px;
    text-align: center;
}

.line {
    height: 1px;
    width: 250px;
    background-color: black;
    display: inline-block;
}

.sliderItem {
    height: 353px;
    background-color: white;
    border-radius: 0;
    cursor: pointer;
    border: none;
    width: 25%;
    position: relative;
    overflow: hidden;
}

.sliderItem .sliderImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    filter: grayscale(1) contrast(1.5) brightness(1);
    mix-blend-mode: multiply;
    transition: all ease-in-out 0.1s;
}

.sliderItem:hover>.sliderImage {
    filter: none;
    mix-blend-mode: normal;
}

.sliderItem:before {
    content: "";
    background-image: url('/img/feature_box_black_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: absolute;
    top: 0;
    height: 55%;
    width: 100%;
    left: 0;
    z-index: 1;
}

.sliderItem h4 {
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 15px;
    color: white;
}

.sliderItem p {
    font-size: 16px;
    font-weight: 300;
    color: white;
}

.featuresSlider {
    padding-bottom: 35px;
    position: relative;
    margin-top: 15px;
}

.sliderWrapper {
    position: relative;
}

.sliderItem .sliderContent {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 9;
    color: white;
    padding: 30px 20px;
}

.featTobContainer {
    position: relative;
    top: -60px;
    z-index: 99;
}


@media screen and (max-width: 768px) {
    .infoBox {
        min-height: 390px;
        height: auto;
        font-weight: normal;
    }

    .featuresBox {
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .featuresInfo {
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        padding: 30px 15px;
        min-height: 295px;
        border-right: none;
    }

    .featuresBox .featuresInfo:nth-child(3) {
        border-bottom: 0;
    }

    .serviceTitle h2>br {
        display: none;
    }

    .sliderItem {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .slide {
        min-width: 50% !important;
    }
}

/* For all other screen sizes, display 3 items */
.slide {
    min-width: 50% !important;
}