.ai {
    background-color: #E6F8F9;
    position: relative;
    min-height: 650px;
}

.aiContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.bLeft {
    background-color: #93479c;
    background-image: linear-gradient(to left bottom, #05b8c3, #00a4d2, #048cd6, #676dc4, #93479c);
    min-height: 705px;
    position: relative;
    background-image: url("/img/aiInnovation/gradientBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 40%;
    padding: 30px 40px;
}

.bLeft .lc h2 {
    font-weight: bold;
    font-size: 33px;
    color: white;
    line-height: 46px;
    margin-bottom: 40px;
}

.bLeft .lc p {
    color: white;
    font-size: 16px;
}

.bRight {
    width: 60%;
    padding: 30px 40px;
}

.aiAccordian {
    position: relative;
}

.aiAccordian h6 {
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.aiContainer .accordionHeader {
    position: relative;
}

.aiAccordian .icons {
    margin-bottom: 21px;
    margin-bottom: 21px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.aiAccordian .icons img {
    margin-right: 15px;
}

/* ============================================
#### RESPONSIVE ####
============================================= */

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 769px) {
    .bLeft {
        width: 100%;
        min-height: 380px;
    }
    .bRight {
        width: 100%;
    }
    .aiContainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 479px) {}