.scheduling {
    position: relative;
    background-color: #F0F0F0;
    padding-bottom: 30px;
}

.growingTeam {
    position: relative;
    padding: 30px 20px 15px 20px;
    min-height: 136px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.whiteBox {
    background-color: white;
    min-height: 610px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    margin-top: -60px;
}

.growingTeam .title {
    font-size: 33px;
    color: #68326F;
    font-weight: bold;
    width: 20%;
}

.growingTeam .line {
    height: 1px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 10px;
}

.growingTeam .clients {
    width: 50%;
}

.growingTeam .clients ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schedulingInfo {
    height: 574px;
    background-color: #68326F;
    padding: 50px 70px;
}

.schedulingInfo h2 {
    font-size: 33px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 46px;
}

.schedulingInfo p {
    color: white;
    font-weight: 400;
    margin-bottom: 35px;
    line-height: 33px;
}

.schedulingForm {
    height: 574px;
    background-color: #FFFFFF;
    padding: 50px 20px;
}

.schedulingForm h2 {
    font-size: 33px;
    color: #68326F;
    font-weight: bold;
    margin-bottom: 25px;
}

.formWrap {
    position: relative;
}

.formWrap .formRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.formWrap .formGroup {
    margin-bottom: 15px;
    width: 48%;
}

.formWrap label {
    margin-bottom: 5px;
}

.formWrap .formGroup input[type="text"] {
    border: 1px solid #CCCCCC;
    border-radius: 0;
    height: 45px;
}

.formWrap textarea {
    border: 1px solid #CCCCCC;
    border-radius: 0;
    min-height: 100px;
}

.formWrap .formGroupFull {
    margin-bottom: 15px;
    width: 100%;
}

.btnSubmit {
    background-color: #68326F;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    min-width: 154px;
    box-shadow: none;
    border-radius: 0;
    margin-top: 10px;
}

.cta {
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.cta .ctaContent {
    margin-right: 40px;
}

.cta .ctaContent h3 {
    font-size: 33px;
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
}

.cta .ctaContent p {
    font-weight: 400;
    line-height: 24px;
    color: black;
    width: 60%;
}

.formWrap label em {
    font-size: 12px;
    color: rgba(255, 99, 71, 0.9);
}

.clientsDesktop {
    display: block;
}
.clientsMobile {
    display: none;
    margin: 20px 0;
    width: 100%;
}
.growingTeam .clients.clientsMobile {
    width: 100%;
}

.clientsMobile .clientItem {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}
.clientsMobile .clientItem img {
    height: 100px;
    width: auto;
    object-fit: contain;
    object-position: center;
}

/* --- */
.clientsMobilev2 {
    display: none;
    margin: 20px 0;
    width: 100%;
}
.growingTeam .clients.clientsMobilev2 {
    width: 100%;
}

.clientsMobilev2 .clientItem {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}
.clientsMobilev2 .clientItem img {
    height: 100px;
    width: auto;
    object-fit: contain;
    object-position: center;
}

/* RESPONSIVE */
@media screen and (max-width: 1199px) {
    .schedulingInfo {
        height: 620px;
    }
    .schedulingForm {
        height: 620px;
    }
}


@media screen and (max-width: 991px) {
    .whiteBox {
        margin-top: 60px;
    }

    .growingTeam {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .growingTeam .clients ul {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .schedulingInfo {
        height: auto;
        padding: 30px 20px;
    }
    .formWrap .formGroup {
        width: 100%;
    }
    .schedulingForm {
        height: auto;
    }
    .formWrap .formGroup input[type="text"] {
        height: 45px;
    }
    .growingTeam .title {
        width: 100%;
    }

    .clientsDesktop {
        display: none;
    }
    .clientsMobile {
        display: block;
    }
}


@media screen and (max-width: 768px) {
    .growingTeam .title {
        width: 100%;
    }
    .whiteBox {
        margin-top: 60px;
    }

    .growingTeam {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .growingTeam .clients ul {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .schedulingInfo {
        height: auto;
        padding: 30px 20px;
    }
    .formWrap .formGroup {
        width: 100%;
    }
    .schedulingForm {
        height: auto;
    }
    .formWrap .formGroup input[type="text"] {
        height: 45px;
    }
    .clientsDesktop {
        display: none;
    }
    .clientsMobile {
        display: none;
    }
    .clientsMobilev2 {
        display: block;
    }
}


@media screen and (max-width: 479px) {
    .clientsMobilev2 {
        display: block;
        padding: 0 10x;
    }
    .clientsMobilev2 .clientItem {
        width: 58%;
    }
}