/* ========= Banner ============ */
.platformBanner {
    height: 586px;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
    background-image: url('/img/platform/banner_platform.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.platformBanner .bannerContent {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.platformBanner .bannerContent .bannerContentLeft {
    width: 45%;
    height: 100%;
    position: relative;
}

.bannerContentLeft .bannerTitle {
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 60px;
    color: white;
}

.bannerContentLeft h1 span {
    display: block;
}

.bannerContentLeft p {
    font-size: 23px;
    color: white;
    margin-bottom: 20px;
}

.bannerContentLeft .bannerInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.btnGetStarted {
    background-color: #68326F;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    min-width: 150px;
    box-shadow: none;
    border-radius: 0;
}

.btnGetStarted img {
    margin-left: 10px;
}

.platformBanner .bannerContent .bannerContentRight {
    width: 55%;
    height: 100%;
    position: relative;
}

.bannerContentRight .bannerImage {
    position: absolute;
    bottom: -47px;
    left: 0;
}


/* ========= QUESTIONS ============ */
.questionsWrap {
    position: relative;
    min-height: 700px;
    background-image: url(/img/platform/question_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 30px;
}

.questions {
    /* position: relative;
    min-height: 700px;
    background-image: url(/img/platform/questionner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 30px; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.questionsContent {
    position: relative;
    height: 700px;
    width: 1200px;
}

.questionsContent .circle {
    height: 208px;
    width: 208px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 6px solid #77467D;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.questionsContent .circle p {
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 16px;
}

.questionsContent .infoBox {
    background-color: #77467D;
    width: 333px;
    min-height: 100px;
    position: relative;
    padding: 15px;
}

.questionsContent .infoBox p {
    color: white;
}

.questionsContent .infoBox .queMark {
    height: 49px;
    width: 49px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: -25px;
    bottom: -15px;
    box-shadow: -3px -2px 4px -2px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.questionsContent .infoBox.box1 {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    height: 100px;
}

.questionsContent .infoBox.box1:after {
    content: "";
    background-color: #77467D;
    height: 6px;
    width: 150px;
    position: absolute;
    top: auto;
    bottom: -51px;
    right: -131px;
    transform: rotate(45deg);
}

.questionsContent .infoBox.box2 {
    position: absolute;
    top: 20%;
    right: -6%;
    transform: translate(-50%, -50%);
    height: 130px;
}

.questionsContent .infoBox.box2:after {
    content: "";
    background-color: #77467D;
    height: 6px;
    width: 150px;
    position: absolute;
    top: auto;
    bottom: -25px;
    left: -125px;
    transform: rotate(-45deg);
}

.questionsContent .infoBox .queMark2 {
    height: 49px;
    width: 49px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: -30px;
    bottom: -20px;
    box-shadow: -3px -2px 4px -2px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.questionsContent .infoBox.box3 {
    position: absolute;
    top: 55%;
    left: 18%;
    transform: translate(-50%, -50%);
    height: 120px;
    padding: 20px 15px;
}

.questionsContent .infoBox.box3:after {
    content: "";
    background-color: #77467D;
    height: 6px;
    width: 130px;
    position: absolute;
    top: 45px;
    right: -120px;
}

.questionsContent .infoBox.box4 {
    position: absolute;
    top: 60%;
    right: -6%;
    transform: translate(-50%, -50%);
    height: 110px;
}

.questionsContent .infoBox.box4:after {
    content: "";
    background-color: #77467D;
    height: 6px;
    width: 100px;
    position: absolute;
    top: auto;
    bottom: 64px;
    left: -83px;
    transform: rotate(30deg);
}

.questionsContent .infoBox.box5 {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 110px;
    width: 350px;
}

.questionsContent .infoBox.box5:after {
    content: "";
    background-color: #77467D;
    height: 70px;
    width: 6px;
    position: absolute;
    top: -68px;
    left: 50%;
}

.phrase {
    position: relative;
}

.phrase .phraseBox {
    border: 2px solid #05A7B1;
    height: 210px;
    padding: 35px;
}

.phrase .phraseBox h4 {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.75);
    line-height: 28px;
    margin-bottom: 25px;
}

.phrase .phraseBox h4 span {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 0 2px;
}

.phrase .phraseBox p {
    color: rgba(255, 255, 255, 0.45);
    font-size: 14px;
    text-align: right;
}




/* POINTS */
.points {
    position: relative;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    display: none;
}

.points .pointsInfo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 50px;
    margin: 30px 0;
}

.points .pointsInfo img {
    margin-right: 10px;
    position: relative;
    top: 4px;
}

.points .pointsInfo p {
    color: rgba(0, 0, 0, 1);
}

.points .pointsInfo p span {
    color: rgba(0, 0, 0, 0.5);
}


/* INTRODUCTION */
.introduction {
    padding: 60px 0 25px 0;
    background-color: #FFFFFF;
    min-height: 500px;
}

.introduction .introductionPicture {
    background-color: transparent;
    position: relative;
}

.introduction .introductionPicture .imageWrap {
    height: 580px;
    width: 700px;
    position: relative;

}

.introduction .introductionPicture .imageWrap .image1 {
    position: absolute;
    top: 6%;
}

.introduction .introductionPicture .imageWrap .image2 {
    height: 210px;
    width: 426px;
    position: absolute;
    top: 0;
    left: 16%;
}

.introduction .introductionPicture .imageWrap .image3 {
    height: 347px;
    width: 250px;
    position: absolute;
    bottom: 22%;
    right: 0%;
}

.introduction .introductionPicture .imageWrap .image4 {
    height: 100px;
    width: 90px;
    position: absolute;
    top: 40px;
    right: 13%;
}

.introduction .introductionPicture .imageWrap img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: top;
}

.introduction .introductionPicture .textWrap {
    height: 250px;
    width: 548px;
    padding: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.introduction .introductionPicture .textWrap p {
    color: white;
    line-height: 30px;
}

.introduction .introductionContent {
    position: relative;
    height: 580px;
}

.introduction .introductionContent h1 {
    position: relative;
    font-size: 33px;
    color: #77467D;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.introduction .introductionContent h3 {
    position: relative;
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 40px;
    width: 70%;
}

.introduction .introductionContent h1::after {
    position: absolute;
    background-color: #000000;
    height: 1px;
    width: 250px;
    content: '';
    left: 0;
    bottom: 6px;
}

.introduction .introductionContent p {
    color: black;
    margin-bottom: 30px;
}

.introduction .introductionContent ul {
    display: none;
}

.introduction .introductionContent ul li {
    color: #77467D;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 25px;
}

.introduction .introductionContent ul li:last-child {
    margin-bottom: 0;
}

.introduction .introductionContent ul li img {
    position: relative;
    top: 6px;
}

.introduction .introductionContent ul li span {
    margin-left: 25px;
}

.selectableBtn {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectableBtn .btnIntro {
    border: 2px solid #ccc;
    outline: none;
    text-decoration: none;
    height: 130px;
    width: 145px;
    background-color: transparent;
    cursor: pointer;
    margin-right: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(1) contrast(1) brightness(1);
    mix-blend-mode: multiply;
    transition: all ease-in-out 0.1s;
}
.selectableBtn .btnIntro:hover {
    filter: none;
    mix-blend-mode: normal;
}

.selectableBtn .borderSeaGreen {
    border: 2px solid #05A7B1;
    filter: none !important;
    mix-blend-mode: normal !important;
}

.selectableBtn .borderPurple {
    border: 2px solid #77467D;
    filter: none !important;
    mix-blend-mode: normal !important;
}

.selectableBtn .borderBlack {
    border: 2px solid #000000;
    filter: none !important;
    mix-blend-mode: normal !important;
}

.selectableBtn .arrowLeft {
    margin-right: 30px;
}
.selectableBtn .arrowRight {}

.selectableBtn .arrowLeft img{
    height: 40px;
    width: auto;
}
.selectableBtn .arrowRight img{
    height: 40px;
    width: auto;
}

.bgSeaGreen {
    background-color: #05A7B1 !important;
    filter: none !important;
    mix-blend-mode: normal !important;
}

.bgPurple {
    background-color: #77467D !important;
    filter: none !important;
    mix-blend-mode: normal !important;
}

.bgBlack {
    background-color: #000000 !important;
    filter: none !important;
    mix-blend-mode: normal !important;
}

.title {
    position: relative;
    font-size: 33px;
    color: #77467D;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.title::after {
    position: absolute;
    background-color: #000000;
    height: 1px;
    width: 250px;
    content: '';
    left: 0;
    bottom: 6px;
}


/* SHODAT YAI */
.shodatYAIContainer {
    background-color: #F0F0F0;
    padding: 40px 0;
    min-height: 500px;
}

.shodatYAIContainer .shodatYAIContent {
    width: 80%;
}

.shodatYAIContainer .shodatYAIContent h1 {
    position: relative;
    font-size: 33px;
    color: #77467D;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.shodatYAIContainer .shodatYAIContent h1::after {
    position: absolute;
    background-color: #000000;
    height: 1px;
    width: 250px;
    content: '';
    left: 0;
    bottom: 6px;
}

.shodatYAIContainer .shodatYAIContent h2 {
    margin-bottom: 25px;
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.shodatYAIContainer .shodatYAIContent p {
    margin-bottom: 20px;
}

.shodatYAIContainer .shodatYAIBox {
    min-height: 451px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}

.shodatYAIContainer .imgContainer {
    height: 50%;
}

.shodatYAIContainer .imgContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.shodatYAIContainer .textContainer {
    height: 50%;
    padding: 25px;
}

.shodatYAIContainer .textContainer h6 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 18px;
    color: black;
}

.shodatYAIContainer .textContainer p {
    color: rgba(0, 0, 0, 0.8);
}




/* FEATURES */
.features {
    position: relative;
    padding: 20px 0;
    min-height: 690px;
    background-color: #F0F0F0;
}

.features .title {
    margin-bottom: 0;
}

.subTitle {
    position: relative;
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    width: 80%;
}

.features .featSliderContainer {
    position: relative;
}

.features .featSliderContainer .sliderItem {
    border: 0;
    border-radius: 0;
    height: 200px;
    background-color: #F0F0F0;
}

.features .featSliderContainer .sliderItem .itemBox {
    height: 180px;
    width: 180px;
    background-color: #FFFFFF;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}

.features .featSliderContainer .sliderItem .itemBox.activeBox {
    background-color: #68326F;
    position: relative;
}

.features .featSliderContainer .sliderItem .itemBox.activeBox:after {
    content: "";
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 19px solid #68326F;
    position: absolute;
    bottom: -17px;
}

.features .featSliderContainer .sliderItem .itemBox.activeBox h6 {
    color: white;
}

.features .featSliderContainer .sliderItem .itemBox h6 {
    color: #68326F;
    font-weight: 600;
}

.features .contentFeature {
    width: 95%;
    margin: 28px auto 0 auto;
}

.features .contentFeature .info {
    position: relative;
}

.features .contentFeature .info .textRow {
    margin-bottom: 30px;
}

.features .contentFeature .info .textRow:last-child {
    margin-bottom: 0;
}

.features .contentFeature .info .textRow h6 {
    color: #68326F;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}


/* OFFERS */
.offers {
    min-height: 500px;
    position: relative;
    display: flex;
}

.offers .offerLeft {
    width: 30%;
    position: relative;
}

.offers .offerInfo {
    background-color: #68326F;
    height: 750px;
    padding: 30px 40px 30px 30px;
}

.offers .offerInfo h2 {
    color: white;
    font-size: 33px;
    margin-bottom: 25px;
    font-weight: bold;
    position: relative;
}

.offers .offerInfo h2::after {
    content: "";
    height: 1px;
    width: 244px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: -2px;
    left: 0;
}

.offers .offerInfo h4 {
    color: white;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 25px;
}

.offers .offerInfo p {
    color: white;
    line-height: 31px;
    margin-bottom: 20px;
}

.offers .offerRight {
    width: 70%;
    position: relative;
    /* background-color: #000000;
    background-image: url(/img/platform/offerBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.offers .offerContent {
    height: 750px;
    padding: 30px;
}

.offers .offerContent h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: bold;
}

.offers .offerContent p {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.offers .offerSliderWrap .offerSliderContent p span {
    color: white;
    font-weight: 300;
    font-size: 14px;
}

.offers .offerSliderContent h2 {
    color: #000000;
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: bold;
}

.offers .offerSliderContent h4 {
    color: #68326F;
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
}

.offerSliderWrap .info {
    position: relative;
}

.offerSliderWrap .info .textRow {
    margin-bottom: 35px;
}

.offerSliderWrap .info .textRow:last-child {
    margin-bottom: 0;
}

.offerSliderWrap .info .textRow h6 {
    color: #68326F;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.offerSliderWrap .info .textRow p {
    color: black;
    font-size: 16px;
    font-weight: normal;
}

.offerSliderContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.offerSliderContent .left {
    width: 50%;
}

.offerSliderContent .right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.offerSliderContent .right .rightImg {
    height: 499px;
    width: auto;
    position: relative;
}

.offerSliderContent .right .rightImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}


.offers .offerSliderWrap {
    margin-top: 0px;
    position: relative;
}

.offers .offerSliderWrap .offerContentWrap {
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.offers .offerSliderWrap .offerContentWrap .imageWrap {
    width: 45%;
}

.offers .offerSliderWrap .offerContentWrap .textWrap {
    width: 55%;
    padding-left: 45px;
}

.offers .offerSliderWrap .offerContentWrap .textWrap .textRow1 {
    margin-bottom: 20px;
}

.offers .offerSliderWrap .offerContentWrap .textWrap .textRow1:last-child {
    margin-bottom: 0;
}

.offers .offerSliderWrap .offerContentWrap .textWrap .textRow1 h6 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}

.offers .offerSliderWrap .offerContentWrap .textWrap .textRow1 p {
    font-size: 15px;
    font-weight: normal;
    color: white;
}


/* WHY CHOOSE */
.whyChoose {
    padding: 50px 0;
    position: relative;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}

.whyChoose .chooseList {
    width: 95%;
}

.whyChoose .chooseList img {
    position: relative;
}

.whyChoose .chooseList li {
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.whyChoose .chooseList li:last-child {
    margin-bottom: 0;
}

.whyChoose .chooseList .text {
    margin-left: 15px;
}

.whyChoose .chooseList .text h6 {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.whyChoose .chooseList .text p {
    font-size: 16px;
    font-weight: normal;
    color: black;
}

.whyChoose .iconRow {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 60px;
}

.whyChoose .iconRow.mb0 {
    margin-bottom: 0;
}

.whyChoose .iconRow .infoWrap {
    width: 44%;
    padding-right: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.whyChoose .iconRow .infoWrap .value {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.whyChoose .iconRow .infoWrap .value img {
    height: 80px;
    width: 141px;
    object-fit: contain;
    object-position: center;
}

.whyChoose .iconRow .infoWrap .value span {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 33px;
    position: absolute;
}

.whyChoose .iconRow .infoWrap p {
    font-weight: 600;
    margin-left: 10px;
}

.whyChoose .iconContent {
    border-right: 1px solid rgba(104, 50, 111, 0.3);
    padding-right: 25px;
}

.brzero {
    border-right: 0 !important;
}

.whyChoose .iconContent .iconCol {
    margin-bottom: 30px;
}

.whyChoose .iconContent .txt {
    margin-bottom: 30px;
    font-weight: 500;
}

.whyChoose .iconContent .percentage {
    font-size: 30px;
    color: #68326F;
    font-weight: bold;
}

.whyChoose .iconInfoWrap {
    position: relative;
    top: 69px;
}



/* CASE STUDIES */
.caseStudy {
    padding: 40px 0;
    background-color: #F0F0F0;
    position: relative;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}

.caseStudy .caseStudySlider {
    padding: 0 6%;
}

.caseStudy .csItem .topItem {
    height: 280px;
    width: 392px;
    background-color: white;
    padding: 30px;
    overflow: hidden;
}

.caseStudy .csItem .topItem h4 {
    font-size: 23px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.caseStudy .csItem .topItem p {
    color: rgba(0, 0, 0, 0.6);
    line-height: 28px;
}

.caseStudy .csItem .imageItem {
    height: 290px;
    width: 392px;
    position: relative;
    overflow: hidden;
}

.caseStudy .csItem .imageItem .purpleText {
    background-color: #68326F;
    color: white;
    padding: 15px;
    margin-left: 7%;
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    font-weight: 300;
    height: 150px;
}

.caseStudy .csItem .imageItem img {
    filter: grayscale(1) contrast(1.5) brightness(1);
    mix-blend-mode: multiply;
    transition: all ease-in-out 0.1s;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.caseStudy .csItem .imageItem:hover>img {
    filter: none;
    mix-blend-mode: normal;
}

.caseStudy .caseStudySlider .sliderItem {
    border: 0;
    border-radius: 0;
    cursor: pointer;
}

.caseStudy .title:after {
    width: 185px;
}
.caseStudySlider .mobileCaseSlider {
    display: none;
}
.caseStudyModal {}

.caseStudyModal .modalContent {
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.caseStudyModal .modalContent .modalLeft {
    width: 41%;
    height: auto;
}

.caseStudyModal .modalContent .modalLeft img {
    height: 100%;
}

.caseStudyModal .modalContent .modalRight {
    width: 54%;
    padding: 40px 40px;
}

.caseStudyModal .modalContent .modalRightContent h2 {
    font-weight: bold;
    font-size: 23px;
    color: black;
    margin-bottom: 15px;
}

.caseStudyModal .modalContent .modalRightContent p {
    font-size: 16px;
    color: #5c5c5c;
    line-height: 28px;
}

.caseStudyModal .result {
    margin-top: 50px;
}

.caseStudyModal .result h4 {
    color: #68326F;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 10px;
}

.caseStudyModal .result .resultBox {
    border: 1px solid #68326F;
    padding: 20px;
}

.caseStudyModal .result .resultBox p {
    color: #68326F;
    margin-bottom: 15px;
    line-height: 28px;
}

.caseStudyModal .result .resultBox p:last-child {
    margin-bottom: 0;
}

.caseStudyModal .result.desktop {
    display: block;
}

.caseStudyModal .result.mobile {
    display: none;
}





/* ===================== RESPONSIVE ===================== */
@media screen and (max-width: 991px) {
    .platformBanner .bannerContent .bannerContentLeft {
        width: 100%;
    }

    .platformBanner .bannerContent .bannerContentRight {
        display: none;
    }

    .platformBanner .bannerContent .bannerContentLeft p br {
        display: none;
    }

    .bannerContentLeft .bannerInfo {
        width: 100%;
        padding: 15px;
    }

    /* Questions */
    .questionsContent {
        width: 100%;
        padding: 30px;
        height: auto;
        min-height: 700px;
    }

    .questionsContent .infoBox.box1 {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        height: auto;
        min-height: 100px;
        width: 100%;
        margin-bottom: 50px;
    }

    .questionsContent .infoBox.box1:after {
        display: none;
    }

    .questionsContent .infoBox.box2 {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        transform: none;
        height: auto;
        min-height: 100px;
        width: 100%;
        margin-bottom: 50px;
    }

    .questionsContent .infoBox.box2:after {
        display: none;
    }

    .questionsContent .infoBox.box3 {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        transform: none;
        height: auto;
        min-height: 100px;
        width: 100%;
        margin-bottom: 50px;
    }

    .questionsContent .infoBox.box3:after {
        display: none;
    }

    .questionsContent .infoBox.box4 {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        transform: none;
        height: auto;
        min-height: 100px;
        width: 100%;
        margin-bottom: 50px;
    }

    .questionsContent .infoBox.box4:after {
        display: none;
    }

    .questionsContent .infoBox.box5 {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        transform: none;
        height: auto;
        min-height: 100px;
        width: 100%;
        margin-bottom: 50px;
    }

    .questionsContent .infoBox.box5:after {
        display: none;
    }

    .questionsContent .circle {
        height: 250px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 6px solid #77467D;
        border-radius: 50%;
        position: relative;
        top: auto;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-bottom: 70px;
    }

    .phrase .phraseBox {
        margin-bottom: 30px;
        height: auto;
        padding: 35px;
        min-height: 250px;
    }

    /* Introduction */
    .introduction .introductionPicture .imageWrap {
        height: auto;
        width: 100%;
        position: relative;
        min-height: 502px;
    }

    .introduction .introductionPicture .imageWrap .image1 {
        position: relative;
        top: auto;
        min-height: 350px;
    }

    .introduction .introductionPicture .textWrap {
        min-height: 250px;
        width: 100%;
        padding: 20px;
        position: relative;
        bottom: 0;
        right: 0;
        margin-bottom: 0px;
    }

    .selectableBtn {
        margin-top: 00px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .introduction .introductionPicture .imageWrap {
        min-height: auto;
    }

    .selectableBtn .btnIntro {
        height: 83px;
        width: 145px;
    }

    .introduction .introductionContent h3 {
        width: 100%;
        margin-bottom: 20px;
    }

    .subTitle {
        width: 100%;
    }

    /* Offers */
    .offers {
        min-height: 500px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .offers .offerLeft {
        width: 100%;
    }

    .offers .offerInfo {
        height: auto;
    }

    .offers .offerRight {
        width: 100%;
    }

    /* SHODAT YAI */
    .shodatYAIContainer .shodatYAIContent {
        width: 100%;
    }

    /* Whychoose */
    .whyChoose .iconContent {
        border-right: 1px solid rgba(104, 50, 111, 0.3);
        border: 1px solid rgba(104, 50, 111, 0.3);
        padding-right: 25px;
        /* min-height: 250px; */
        height: 250px;
        margin-bottom: 30px;
        padding: 20px;
    }

    .whyChoose .iconContent.brzero {
        border-right: 1px solid rgba(104, 50, 111, 0.3) !important;
    }

    .whyChoose .iconInfoWrap {
        position: relative;
        top: auto;
        margin-top: 50px;
    }

    .caseStudyModal .modalContent {
        height: auto;
    }

    .caseStudyModal .modalContent .modalLeft {
        height: auto;
        width: 36%;
    }

    .caseStudyModal .modalContent .modalRight {
        width: 63%;
        padding: 20px;
    }

    .caseStudyModal .result.desktop {
        display: none;
    }

    .caseStudyModal .result.mobile {
        display: block;
        padding: 15px;
        margin-top: 0;
    }

    .caseStudyModal .modalContent {
        flex-wrap: wrap;
    }
    .caseStudy .caseStudySlider .sliderItem {
        width: 30%;
    }
    .caseStudy .caseStudySlider {
        padding: 0 2%;
    }
    .caseStudy .csItem .topItem {
        width: 100%;
        height: 380px;
        padding: 10px;
    }
    .caseStudy .csItem .imageItem {
        width: 100%;
        height: 350px;
    }
    .caseStudy .csItem .imageItem .purpleText {
        height: 220px;
        position: absolute;
        margin-left: 0;
    }

    .introduction .introductionPicture .textWrap {
        height: auto;
        min-height: 350px;
    }
    .introduction .introductionContent {
        height: auto;
        min-height: 700px;
    }
}


@media screen and (max-width: 769px) {

    /* Banner */
    .platformBanner .bannerContent {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .platformBanner .bannerContent .bannerContentLeft {
        width: 100%;
        height: auto;
        position: relative;
    }

    .platformBanner .bannerContent .bannerContentRight {
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 30px;
    }

    .bannerContentRight .bannerImage {
        position: relative;
        bottom: auto;
        left: 0;
    }

    .bannerContentLeft .bannerInfo {
        position: relative;
        top: 0;
        left: auto;
        transform: none;
        width: 100%;
        padding: 15px;
    }

    .bannerContentLeft p br {
        display: none;
    }

    .platformBanner {
        height: auto;
        padding-bottom: 15px;
        min-height: 350px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .platformBanner .bannerContent .bannerContentLeft .bannerTitle {
        font-size: 36px;
    }

    .platformBanner .bannerContent .bannerContentLeft p {
        font-size: 20px;
    }



    /* Features */
    .subTitle {
        position: relative;
        font-size: 23px;
        color: #000000;
        font-weight: bold;
        width: 80%;
        line-height: 30px;
        background-color: #F0F0F0;
    }

    .features .featSliderContainer {
        margin-top: 25px;
    }

    .features .featSliderContainer .carousel-item.active,
    .features .featSliderContainer .carousel-item-next,
    .features .featSliderContainer .carousel-item-prev {
        display: flex;
    }

    /* QUESTIONS */
    .questionsContent {
        width: 100%;
        padding: 30px;
        height: auto;
        min-height: 700px;
    }

    .questionsContent .infoBox.box1 {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        height: auto;
        min-height: 100px;
        width: 100%;
        margin-bottom: 50px;
    }

    .questionsContent .infoBox.box1:after {
        display: none;
    }

    .questionsContent .infoBox.box2 {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        transform: none;
        height: auto;
        min-height: 100px;
        width: 100%;
        margin-bottom: 50px;
    }

    .questionsContent .infoBox.box2:after {
        display: none;
    }

    .questionsContent .infoBox.box3 {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        transform: none;
        height: auto;
        min-height: 100px;
        width: 100%;
        margin-bottom: 50px;
    }

    .questionsContent .infoBox.box3:after {
        display: none;
    }

    .questionsContent .infoBox.box4 {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        transform: none;
        height: auto;
        min-height: 100px;
        width: 100%;
        margin-bottom: 50px;
    }

    .questionsContent .infoBox.box4:after {
        display: none;
    }

    .questionsContent .infoBox.box5 {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        transform: none;
        height: auto;
        min-height: 100px;
        width: 100%;
        margin-bottom: 50px;
    }

    .questionsContent .infoBox.box5:after {
        display: none;
    }

    .questionsContent .circle {
        height: 250px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 6px solid #77467D;
        border-radius: 50%;
        position: relative;
        top: auto;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-bottom: 70px;
    }

    .phrase .phraseBox {
        margin-bottom: 30px;
        height: auto;
        padding: 35px;
        min-height: 300px;
    }

    /* Introduction */
    .introduction .introductionPicture .imageWrap {
        height: auto;
        width: 100%;
        position: relative;
        min-height: 502px;
    }

    .introduction .introductionPicture .imageWrap .image1 {
        position: relative;
        top: auto;
        min-height: auto;
    }

    .introduction .introductionPicture .textWrap {
        min-height: 250px;
        width: 100%;
        padding: 40px;
        position: relative;
        bottom: 0;
        right: 0;
        margin-bottom: 30px;
        margin-top: -80px;
    }

    .selectableBtn {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 0;
    }

    .features .featSliderContainer .sliderItem {
        border: 0;
        border-radius: 0;
        height: auto;
        background-color: #F0F0F0;
        width: 48%;
        padding-bottom: 30px;
    }

    .features .featSliderContainer .sliderItem .itemBox {
        height: auto;
        width: auto;
        background-color: #FFFFFF;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        text-align: center;
        cursor: pointer;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
        min-height: 160px;
    }

    .features .contentFeature {
        width: 100%;
        margin: 0px auto 0 auto;
        padding-bottom: 40px;
    }

    .contentFeature .picture {
        margin-bottom: 30px;
    }

    .offers .offerLeft {
        width: 100%;
    }

    .offers .offerRight {
        width: 100%;
    }

    .offers {
        display: flex;
        flex-wrap: wrap;
    }

    .offers .offerInfo {
        height: auto;
    }

    .selectableBtn .borderBlack {
        /* margin-right: 0; */
    }

    .selectableBtn .btnIntro {
        height: 75px;
        width: 75px;
    }

    .offerSliderWrap .info .textRow {
        margin-bottom: 20px;
    }

    .shodatYAIContainer .shodatYAIContent {
        width: 100%;
    }

    .shodatYAIContainer .textContainer {
        padding: 15px;
    }

    .shodatYAIContainer .shodatYAIBox {
        min-height: 400px;
    }

    .whyChoose .iconContent {
        border-right: 1px solid rgba(104, 50, 111, 0.3);
        border: 1px solid rgba(104, 50, 111, 0.3);
        padding-right: 25px;
        /* min-height: 250px; */
        height: 250px;
        margin-bottom: 30px;
        padding: 20px;
    }

    .whyChoose .iconContent.brzero {
        border-right: 1px solid rgba(104, 50, 111, 0.3) !important;
    }

    .whyChoose .iconInfoWrap {
        position: relative;
        top: auto;
        margin-top: 50px;
    }
    .caseStudyModal .modalContent .modalLeft {
        display: none;
    }

    .caseStudyModal .modalContent .modalRight {
        width: 100%;
        padding: 20px;
    }
    .caseStudy .caseStudySlider .sliderItem {
        width: 100%;
        min-height: 665px;
    }
    .introduction .introductionContent {
        height: auto;
        min-height: 580px;
    }

    .caseStudySlider .mobileCaseSlider {
        display: block;
    }

    .caseStudySlider .desktopCaseSlider {
        display: none;
    }
    .caseStudy .csItem .topItem {
        background-color: transparent;
    }
}

@media screen and (max-width: 479px) {
    .phrase .phraseBox {
        min-height: auto;
    }

    .introduction .introductionPicture .imageWrap {
        height: auto;
        min-height: auto;
    }

    .introduction .introductionPicture .textWrap {
        padding: 20px;
    }

    .introduction .introductionContent h3,
    .subTitle {
        width: 100%;
    }

    .selectableBtn {
        margin-top: 40px;
    }

    .offerSliderContent .left {
        width: 100%;
        margin-bottom: 20px;
    }

    .offerSliderContent .right {
        width: 100%;
    }

    .offerSliderContent {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .offers .offerContent {
        height: auto;
        padding-bottom: 80px;
    }

    .shodatYAIContainer .shodatYAIBox {
        margin-bottom: 30px;
    }

    .shodatYAIContainer {
        padding: 40px 0 10px 0;
    }

    .iconInfoWrap>.row>.col-12:last-child>.iconContent {
        margin-bottom: 0;
    }
    .introduction .introductionPicture .imageWrap .image1 {
        min-height: auto;
    }
}