.carouselContainer {
    height: 700px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.sliderImage {
    height: 700px !important;
    width: 100% !important;
    object-fit: cover;
    object-position: top;
}

.carouselContent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.carouselContent h1 {
    font-size: 46px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    line-height: 60px;
}

.carouselContent h1 span {
    display: block;
}

.carouselContent p {
    font-size: 23px;
    font-weight: 300;
    color: white;
    margin-bottom: 20px;
}

.btnGetStarted {
    background-color: #68326F;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    min-width: 150px;
    box-shadow: none;
    border-radius: 0;
}

.btnGetStarted img {
    margin-left: 10px;
}

.carouselContainer .carouselCaption {
    right: auto;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50%;
    z-index: 9;
}

.mouseIcon {
    position: absolute;
    left: 49%;
    bottom: 58px;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.banner_title {
    font-size: 47px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    line-height: 60px;
}
.banner_title span {
    display: block;
}

.ellipseImage {
    position: absolute;
    top: 100px;
    left: 50%;
    z-index: 9;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1199px) {
    .carouselContainer .carouselCaption {
        right: 0;
        top: 20%;
        left: 0;
        transform: none;
        position: absolute;
        width: 100%;
        padding: 20px;
    }
    .carouselContainer .carouselCaption .banner_title {
        font-size: 46px;
        line-height: 54px;
    }
    
    .carouselContent p br {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .carouselContainer .carouselCaption {
        right: 0;
        top: 20%;
        left: 0;
        transform: none;
        position: absolute;
        width: 100%;
        padding: 20px;
    }
    .carouselContainer .carouselCaption .banner_title {
        font-size: 42px;
        line-height: 54px;
    }
    .carouselContainer .carouselCaption .banner_title span{
        display: inline;
    }
    .carouselContent p br {
        display: none;
    }
    .mouseIcon {
        left: 48%;
    }
    .header {
        padding: 0 15px;
    }
}


@media screen and (max-width: 769px) {
    .carouselContainer .carouselCaption {
        right: 0;
        top: 20%;
        left: 0;
        transform: none;
        position: absolute;
        width: 100%;
        padding: 20px;
    }
    .carouselContainer .carouselCaption .banner_title {
        font-size: 42px;
        line-height: 54px;
    }
    .carouselContainer .carouselCaption .banner_title span{
        display: inline;
    }
    .carouselContent p br {
        display: none;
    }
    .mouseIcon {
        left: 48%;
    }
    .header {
        padding: 0 15px;
    }
    .carouselContainer .carouselCaption .banner_title span{
        display: inline;
    }
    .banner_title span {
        display: inline;
    }
}