.useCase {
    background-color: #F0F0F0;
    padding: 30px 0 30px 0;
}

.useCase .useCaseSliderWrap {
    padding-bottom: 90px;
}

.useCase .useCaseSliderWrap .sliderItems {
    background-color: #FFFFFF;
    height: 600px;
    position: relative;
}

.useCase .useCaseSliderWrap .sliderItems .imageContainer {
    height: 147px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 13px;
}

.useCase .useCaseSliderWrap .sliderItems .imageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.useCase .useCaseSliderWrap .sliderItems .textContainer {
    padding: 16px;
}

.useCase .useCaseSliderWrap .sliderItems .textContainer h6 {
    height: 205px;
    color: black;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 32px;
    line-height: 36px;
}

.useCase .useCaseSliderWrap .sliderItems .textContainer p {
    color: rgba(0, 0, 0, 0.8);
}

.useCase .useCaseSliderWrap .sliderItems .btwrap {
    position: absolute;
    bottom: 0;
    right: 0;
}

.btnBlack {
    height: 46px;
    min-width: 154px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    outline: none;
    border: 0;
    background-color: black;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btnBlack:hover {
    background-color: #5BB9C3;
}

.titleUnderline {
    position: relative;
    font-size: 33px;
    color: #77467D;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.titleUnderline:after {
    position: absolute;
    background-color: #000000;
    height: 1px;
    width: 250px;
    content: '';
    left: 0;
    bottom: 6px;
}

.subTitle {
    position: relative;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    width: 80%;
}


/* ============================================
#### RESPONSIVE ####
============================================= */

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 769px) {
    .useCase .useCaseSliderWrap .sliderItems  {
        height: 650px;
    }
    .useCase .useCaseSliderWrap .sliderItems .textContainer h6 {
        height: 234px;
    }
}

@media screen and (max-width: 479px) {}