.shodatYAI {
    height: auto;
    min-height: 505px;
    padding: 30px 0;
    /* background-color: #DFE3EE; */
    /* background-image: linear-gradient(to right top, #E9DAEB, #E9DAEB, #DFE3EE, #DFE3EE, #DFE3EE); */
    /* background-image: linear-gradient(to left bottom, #05b8c3, #00a4d2, #048cd6, #676dc4, #93479c);
    background-image: url(/img/aiInnovation/explainableBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left; */
}

.sectionLeft h2 {
    color: #68326F;
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 30px;
    position: relative;
}

.sectionLeft h2:after {
    content: "";
    height: 1px;
    width: 250px;
    position: absolute;
    bottom: -15px;
    left: 00%;
    transform: translate(0%, -50%);
    background-color: black;
}

.sectionLeft h6 {
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 23px;
    color: black;
}

.sectionLeft p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.whiteBox {
    padding: 10px 25px 30px 25px;
    background-color: #68326F;
    height: 338px;
}

.whiteBox .iconWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -35px;
}
.whiteBox .icon {
    margin-bottom: 16px;
    height: 90px;
    width: 90px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #F4EDF5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whiteBox h6 {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}

.whiteBox p {
    font-size: 16px;
    color: rgba(255,255,255, 0.8);
    line-height: 28px;
}
.shodatYAIBoxes {
    margin-top: 60px
}
.colorBox {
    padding: 25px 25px;
    height: 271px;
    overflow: hidden;
}

.colorBox .icon {
    margin-bottom: 16px;
}

.colorBox h6 {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}

.colorBox p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
}
.colorBox.purpleBox {
    background-color: #68326F;
}
.colorBox.blueBox {
    background-color: #04838A;
}
.colorBox.blackBox {
    background-color: #000000;
}


/* ============================================
#### RESPONSIVE ####
============================================= */

@media screen and (max-width: 1199px) {
    .whiteBox {
        height: 400px;
    }
}

@media screen and (max-width: 991px) {
    .sectionLeft {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 769px) {
    .whiteBox {
        margin-bottom: 30px;
        min-height: 200px;
        height: auto;
    }
    .sectionLeft h2 br{
        display: none;
    }

}

@media screen and (max-width: 479px) {
    
}