.explainable {
    height: auto;
    min-height: 370px;
    padding: 60px 0 20px 0;
    background-color: #F4EDF5;
}

.sectionLeft h2 {
    color: #68326F;
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 30px;
    position: relative;
}

.sectionLeft h2:after {
    content: "";
    height: 1px;
    width: 250px;
    position: absolute;
    bottom: -15px;
    left: 00%;
    transform: translate(0%, -50%);
    background-color: black;
}

.sectionLeft h6 {
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 23px;
    color: black;
}

.sectionLeft p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 27px;
    padding-right: 21px;
}

.whiteBox {
    padding: 10px 25px 30px 25px;
    height: 320px;
    border-right: 1px dashed #68326F;
}

.whiteBox .iconWrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin-bottom: 30px;
}
.whiteBox .icon {   
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whiteBox h6 {
    font-size: 16px;
    font-weight: bold;
    color: #68326F;
    margin-bottom: 16px;
}

.whiteBox p {
    font-size: 16px;
    color: rgba(0,0,0, 0.8);
}

.br0 {
    border-right: 0;
}

/* ============================================
#### RESPONSIVE ####
============================================= */

@media screen and (max-width: 1199px) {
    .whiteBox {
        height: 400px;
    }
}

@media screen and (max-width: 991px) {
    .sectionLeft {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 769px) {
    .whiteBox {
        margin-bottom: 30px;
        min-height: 200px;
        height: auto;
    }

}

@media screen and (max-width: 479px) {
    .whiteBox {
        margin-bottom: 15px;
        min-height: 200px;
        height: auto;
        padding: 15px 0;
        border-right: 0;
        border-bottom: 1px dashed #68326F;
    }
    .whiteBox h6 br {
        display: none;
    }
}