.prefferedPartner {
    position: relative;
}

.experienceFuture {
    height: 223px;
    background-image: url('/img/future-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

/* .experienceFuture:after {
    background-color: rgba(000,000,000,0.3);
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
} */

.experienceFuture .experienceContent {
    position: relative;
    z-index: 1;
}

.experienceFuture .experienceContent h2 {
    color: white;
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 20px;
}

.experienceFuture .experienceContent p {
    color: white;
    font-size: 16px;
    line-height: 26px;
    padding: 0 15%;
}


.prefferedPartner .titleSection {
    height: 145px;
    text-align: center;
    background-color: #68326F;
    padding: 15px;
}

.prefferedPartner .titleSection h2 {
    color: white;
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.tabSection {
    background-color: black;
    min-height: 560px;
    padding-bottom: 40px;
}

.tabSection .tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -60px;
}

.btnTab {
    background-color: #DEC6E0;
    height: 60px;
    cursor: pointer;
    border: 0;
    border-right: 1px solid #68326F;
    font-size: 16px;
    color: #68326F;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.btnTab.active {
    background-color: #000000;
    color: #FFFFFF;
}

.tabsContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.tabsContent .contentLeft {
    width: 60%;
    min-height: 300px;
    height: 558px;
    padding: 60px 30px 40px 30px;
    background-position: top;
}

.tabsContent .contentLeft h3 {
    color: white;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 35px;
}

.tabsContent .contentLeft ul {
    padding-left: 26px;
}

.tabsContent .contentLeft ul li {
    color: white;
    font-size: 16px;
    font-weight: 300;
    list-style-type: disc;
    padding: 6px 0;
}

.tabsContent .contentLeft p {
    margin-bottom: 40px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
}

.tabsContent .contentRight {
    width: 40%;
    min-height: 300px;
    height: 558px;
    padding: 40px 50px;
}

.tabsContent .contentRight .couonterRow {
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.tabsContent .contentRight .counterBox {
    border: 1px solid #03656B;
    background-color: #03656B;
    height: 158px;
    width: 179px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
}

.tabsContent .contentRight .counterBox h6 {
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
}

.tabsContent .contentRight .counterBox .count {
    color: white;
    font-size: 33px;
    font-weight: bold;
}

.expertise .contentLeft {
    width: 50%;
}

.expertise .contentRight {
    width: 50%;
    padding: 40px 0;
}

.expertise .contentRight .counterBox {
    width: 303px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.customization .contentRight .counterBox {
    width: 303px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.contentBlock {
    margin-bottom: 70px;
}

.customization .contentBlock {
    margin-bottom: 30px;
}

.mbzero {
    margin-bottom: 0;
}

.contentBlock h3 {
    color: white;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 35px;
}

.contentBlock ul {
    padding-left: 26px;
}

.contentBlock ul li {
    color: white;
    font-size: 16px;
    font-weight: 300;
    list-style-type: disc;
    padding: 6px 0;
}

.contentBlock p {
    margin-bottom: 40px;
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

.contentFull {
    padding: 50px 30px 0px 30px;
}

.contentFull h3 {
    color: white;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 35px;
}

.innovation {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.responsibleAI {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.innovationBG {
    background-image: url('/img/innovationBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.responsibleAIBG {
    background-image: url('/img/responsibleBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.provenBG {
    background-image: url('/img/provenBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.expertiseBG {
    background-image: url('/img/expertiseBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.customizationBG {
    background-image: url('/img/customizationBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}


.responsibleAI .contentRight,
.responsibleAI .contentLeft {
    width: 50%;
}

.responsibleAI .contentRight {
    padding: 40px 20px;
}

.responsibleAI .contentRight .counterBox {
    width: 48%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
}


/* RESPONSIVE */

@media screen and (max-width: 1200px) {
    .tabsContent .contentRight .couonterRow {
        justify-content: space-between;
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .responsibleAI .contentRight .counterBox {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start
    }
    .tabsContent .contentRight .counterBox {
        width: 48.5%;
        min-height: 165px;
        height: auto;
        margin: 0 0 15px 0;
    }
    .tabsContent .contentRight {
        padding: 60px 35px 35px 35px;
        min-height: 560px;
        height: auto;
    }
    .tabsContent .contentLeft{
        min-height: 560px;
        height: auto;
    }
}

@media screen and (max-width: 991px) {
    .tabsContent {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .tabSection {
        height: auto;
    }

    .tabsContent .contentLeft {
        width: 100%;
        min-height: 470px;
        height: auto;
        padding: 15px;
    }

    .tabsContent .contentRight {
        width: 100%;
        padding: 0px;
    }

    .tabsContent .contentRight .counterBox {
        width: 48.5%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 0 15px 0;
        min-height: 164px;
        height: auto;
    }

    .experienceFuture {
        height: auto;
        padding: 35px 0;
    }

    .experienceFuture .experienceContent p {
        padding: 0 15px;
    }

    .prefferedPartner .titleSection {
        height: auto;
    }

    .tabSection .tabs {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 5px;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0 15px;
    }

    .btnTab {
        width: 100%;
        border-bottom: 1px solid #68326F;
        border-right: none;
    }

    .tabsContent .contentRight {
        height: auto;
    }

    .tabsContent .contentRight .couonterRow {
        justify-content: space-between;
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .tabsContent .contentLeft {
        min-height: auto;
    }

    .tabsContent .contentRight {
        min-height: auto;
        padding: 0 15px;
    }

    .contentFull {
        padding: 35px 15px;
    }

    .responsibleAI .contentRight {
        width: 100%;
        padding: 15px;
    }

    .responsibleAI .contentLeft {
        width: 100%;
    }

    .contentBlock {
        margin-bottom: 40px;
    }

    .responsibleAI .contentRight .counterBox {
        width: 48.5%;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .tabsContent .contentLeft p {
        font-size: 18px;
    }
    .btnTab {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .tabsContent {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .tabSection {
        height: auto;
    }

    .tabsContent .contentLeft {
        width: 100%;
        min-height: 470px;
        height: auto;
        padding: 15px;
    }

    .tabsContent .contentRight {
        width: 100%;
        padding: 0px 15px;
    }

    .tabsContent .contentRight .counterBox {
        width: 48.5%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0px 0 15px 0;
    }
}


@media screen and (max-width: 768px) {
    .experienceFuture {
        height: auto;
        padding: 35px 0;
    }

    .experienceFuture .experienceContent p {
        padding: 0px;
    }

    .prefferedPartner .titleSection {
        height: auto;
    }

    .tabSection .tabs {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 0px;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0 15px;
    }

    .btnTab {
        width: 100%;
        border-bottom: 1px solid #68326F;
        border-right: none;
    }

    .tabsContent .contentRight {
        height: auto;
    }

    .tabsContent .contentRight .couonterRow {
        justify-content: space-between;
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .tabsContent .contentLeft {
        min-height: auto;
    }

    .tabsContent .contentRight {
        min-height: auto;
    }

    .contentFull {
        padding: 35px 15px;
    }

    .responsibleAI .contentRight {
        width: 100%;
        padding: 0px 15px;
    }

    .responsibleAI .contentLeft {
        width: 100%;
    }

    .contentBlock {
        margin-bottom: 00px;
    }

    .responsibleAI .contentRight .counterBox {
        width: 48.5%;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-height: 180px;
        height: auto;
    }

    .tabsContent .contentLeft p {
        font-size: 18px;
    }
}

@media screen and (max-width: 479px) {
    .tabsContent .contentRight .counterBox {
        min-height: 135px;
        height: auto;
    }
    .responsibleAI .contentRight .counterBox {
        min-height: 190px;
        height: auto;
    }
    .tabsContent .contentRight .counterBox .count {
        font-size: 24px;
    }
}