.items {
    height: 200px;
    /* width: 3000px; */
    /* background-color: blueviolet; */
    /* margin: 10px; */
}
.carouselCcontainer li:nth-child(even) {
    background-color: #0088cc;
}
.carouselCcontainer li:nth-child(odd) {
    background-color: chartreuse;
}
.itemClass {
    margin: 15px;
}
.carouselCcontainer {
    /* width: 600px; */
}

.wrapper {
    width: 300px;
    height: 300px;
    overflow: hidden;
}